openapi: 3.0.2
info:
  description: |
    This document describes the PagerDuty REST APIs.

    For guides and examples please visit our [Documentation.](https://developer.pagerduty.com/docs/get-started/getting-started/)

    Our REST APIs are defined in OpenAPI v3.x. You can view the schema at [github.com/PagerDuty/api-schema](https://github.com/PagerDuty/api-schema).

    Note that properties in some schemas have fields not shown by default such as `readOnly`, `format`, and `default`. Hover your cursor over the right column that looks like `optional+1` to see the full list of fields.
  contact:
    name: PagerDuty Support
    url: 'http://www.pagerduty.com/support'
    email: support@pagerduty.com
  title: PagerDuty API
  version: 2.0.0
security:
  - api_key: []
tags:
  - name: Abilities
    description: |
      This describes your account's abilities by feature name. For example `"teams"`.
      An ability may be available to your account based on things like your pricing plan or account state.
  - name: Add-ons
    description: |
      Developers can write their own functionality to insert into PagerDuty's UI.
  - name: Analytics
    description: |
      Provides enriched incident data.
  - name: Audit
    description: |
      Provides audit record data.
  - name: Paused Incident Reports
    description: |
      Provides paused Incident reporting data on services and accounts that have paused Alerts.
  - name: Business Services
    description: |
      Business services model capabilities that span multiple technical services and that may be owned by several different teams.
  - name: Change Events
    description: |
      Change Events enable you to send informational events about recent changes such as code deploys and system config changes from any system that can make an outbound HTTP connection. These events do not create incidents and do not send notifications; they are shown in context with incidents on the same PagerDuty service.
  - name: Escalation Policies
    description: |
      Escalation policies define which user should be alerted at which time.
  - name: Event Orchestrations
    description: |
      Event Orchestrations allow you to route events to an endpoint and create collections of Event Orchestrations, which define sets of actions to take based on event content.
  - name: Extension Schemas
    description: |
      A PagerDuty extension vendor represents a specific type of outbound extension such as Generic Webhook, Slack, ServiceNow.
  - name: Extensions
    description: |
      Extensions are representations of Extension Schema objects that are attached to Services.
  - name: Incidents
    description: |
      An incident represents a problem or an issue that needs to be addressed and resolved. Incidents trigger on a service, which prompts notifications to go out to on-call responders per the service's escalation policy.
  - name: Log Entries
    description: |
      A log of all the events that happen to an Incident, and these are exposed as Log Entries.
  - name: Maintenance Windows
    description: |
      A Maintenance Window is used to temporarily disable one or more Services for a set period of time.
  - name: Notifications
    description: |
      A Notification is created when an Incident is triggered or escalated.
  - name: On-Calls
    description: |
      An on-call represents a contiguous unit of time for which a User will be on call for a given Escalation Policy and Escalation Rules
  - name: Priorities
    description: |
      A priority is a label representing the importance and impact of an incident. This feature is only available on Standard and Enterprise plans.
  - name: Response Plays
    description: |
      Response Plays are a package of Incident Actions that can be applied during an Incident's life cycle.
  - name: Rulesets
    description: |
      Rulesets allow you to route events to an endpoint and create collections of Event Rules, which define sets of actions to take based on event content.
  - name: Schedules
    description: |
      A Schedule determines the time periods that users are On-Call.
  - name: Service Dependencies
    description: |
      Services are categorized into technical and business services. Dependencies can be created via any combination of these services.
  - name: Services
    description: |
      A Service may represent an application, component, or team you wish to open incidents against.
  - name: Webhooks
    description: |
      A webhook is a way to receive events that occur on the PagerDuty platform via an HTTP POST request.
      V3 webhooks are set up by creating a webhook subscription.
  - name: Status Dashboards
    description: |
      Status Dashboards represent user-defined views for the Status Dashboard product that are limited to specific Business Services rather than the whole set of top-level Business Services (those with no dependent Services).
  - name: Tags
    description: |
      A Tag is applied to Escalation Policies, Teams or Users and can be used to filter them.
  - name: Teams
    description: |
      A team is a collection of Users and Escalation Policies that represent a group of people within an organization.
  - name: Users
    description: |
      Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.
  - name: Vendors
    description: |
      A PagerDuty Vendor represents a specific type of integration. AWS Cloudwatch, Splunk, Datadog are all examples of vendors
servers:
  - url: 'https://api.pagerduty.com'
    description: PagerDuty V2 API.
components:
  examples:
    AuditRecordResponse:
      $ref: examples/AuditRecordResponse.yaml
    AuditRecordEscalationPolicyResponse:
      $ref: examples/AuditRecordEscalationPolicyResponse.yaml
    AuditRecordScheduleResponse:
      $ref: examples/AuditRecordScheduleResponse.yaml
    AuditRecordServiceResponse:
      $ref: examples/AuditRecordServiceResponse.yaml
    AuditRecordTeamResponse:
      $ref: examples/AuditRecordTeamResponse.yaml
    AuditRecordUserResponse:
      $ref: examples/AuditRecordUserResponse.yaml
    CreateSubscriptionExample:
      $ref: models/webhooks/CreateSubscriptionExample.yaml
    GetSubscriptionExample:
      $ref: models/webhooks/GetSubscriptionExample.yaml
    ListSubscriptionExample:
      $ref: models/webhooks/ListSubscriptionsExample.yaml
    PutSubscriptionExample:
      $ref: models/webhooks/PutSubscriptionExample.yaml
  parameters:
    $ref: ../common/models/Parameters.yaml
  responses:
    ArgumentError:
      $ref: ../common/models/ArgumentError.yaml
    Conflict:
      $ref: ../common/models/Conflict.yaml
    Forbidden:
      $ref: ../common/models/Forbidden.yaml
    InternalServerError:
      $ref: ../common/models/InternalServerError.yaml
    NotAllowed:
      $ref: ../common/models/NotAllowed.yaml
    NotFound:
      $ref: ../common/models/NotFound.yaml
    TooManyRequests:
      $ref: ../common/models/TooManyRequests.yaml
    PaymentRequired:
      $ref: ../common/models/PaymentRequired.yaml
    Unauthorized:
      $ref: ../common/models/Unauthorized.yaml
    UnprocessableEntity:
      $ref: ../common/models/UnprocessableEntity.yaml
    RequestEntityTooLarge:
      $ref: ../common/models/RequestEntityTooLarge.yaml
    OrchestrationPathRouterTypeResponse:
      $ref: ./examples/OrchestrationPath-RouterTypeResponse.yaml
    OrchestrationPathServiceTypeResponse:
      $ref: ./examples/OrchestrationPath-ServiceTypeResponse.yaml
    OrchestrationPathServiceActiveResponse:
      $ref: ./examples/OrchestrationPath-ServiceActiveResponse.yaml
    OrchestrationPathUnroutedTypeResponse:
      $ref: ./examples/OrchestrationPath-UnroutedTypeResponse.yaml
    WebhookBadRequest:
      $ref: models/webhooks/SubscriptionErrors.yaml#/BadRequest
    WebhookUnauthorized:
      $ref: models/webhooks/SubscriptionErrors.yaml#/Unauthorized
    WebhookForbidden:
      $ref: models/webhooks/SubscriptionErrors.yaml#/Forbidden
    WebhookNotFound:
      $ref: models/webhooks/SubscriptionErrors.yaml#/NotFound
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: The API Key with format `Token token=<API_KEY>`
  schemas:
    StatusUpdateNotificationRule:
      $ref: models/StatusUpdateNotificationRule.yaml
    AnalyticsModel:
      $ref: models/AnalyticsFilter.yaml
    AnalyticsIncidentMetrics:
      $ref: models/AnalyticsIncidentMetrics.yaml
    AnalyticsRawIncident:
      $ref: models/AnalyticsRawIncident.yaml
    AuditRecord:
      $ref: models/AuditRecord.yaml
    AuditRecordResponseSchema:
      $ref: models/AuditRecordResponseSchema.yaml
    AuditMetadata:
      $ref: models/AuditMetadata.yaml
    AutoPauseNotificationsParameters:
      $ref: ./models/AutoPauseNotificationsParameters.yaml
    ServiceEventRule:
      $ref: models/ServiceEventRule.yaml
    EventRuleActionsCommon:
      $ref: models/EventRuleActionsCommon.yaml
    EventRule:
      $ref: models/EventRule.yaml
    Ruleset:
      $ref: models/Ruleset.yaml
    AddonReference:
      $ref: models/AddonReference.yaml
    Addon:
      $ref: models/Addon.yaml
    BusinessService:
      $ref: models/BusinessService.yaml
    BusinessServiceReference:
      $ref: models/BusinessServiceReference.yaml
    ChangeEvent:
      $ref: models/ChangeEvent.yaml
    Tag:
      $ref: models/Tag.yaml
    TagReference:
      $ref: models/TagReference.yaml
    EntityReference:
      $ref: models/EntityReference.yaml
    IncidentAddon:
      $ref: models/IncidentAddon.yaml
    IncidentUrgencyType:
      $ref: models/IncidentUrgencyType.yaml
    IncidentUrgencyRule:
      $ref: models/IncidentUrgencyRule.yaml
    SupportHours:
      $ref: models/SupportHours.yaml
    Reference:
      $ref: ../common/models/Reference.yaml
    IncidentNote:
      $ref: models/IncidentNote.yaml
    Notification:
      $ref: models/Notification.yaml
    Context:
      $ref: models/Context.yaml
    Channel:
      $ref: models/Channel.yaml
    NotifyLogEntry:
      $ref: models/NotifyLogEntry.yaml
    ScheduledAction:
      $ref: models/ScheduledAction.yaml
    SnoozeLogEntry:
      $ref: models/SnoozeLogEntry.yaml
    IncidentAction:
      $ref: models/IncidentAction.yaml
    AssignLogEntry:
      $ref: models/AssignLogEntry.yaml
    EscalateLogEntry:
      $ref: models/EscalateLogEntry.yaml
    LogEntryReference:
      $ref: models/LogEntryReference.yaml
    LogEntry:
      $ref: models/LogEntry.yaml
    AgentReference:
      $ref: models/AgentReference.yaml
    NotificationRuleReference:
      $ref: models/NotificationRuleReference.yaml
    NotificationRule:
      $ref: models/NotificationRule.yaml
    ContactMethodReference:
      $ref: models/ContactMethodReference.yaml
    ContactMethod:
      $ref: models/ContactMethod.yaml
    EmailContactMethod:
      $ref: models/EmailContactMethod.yaml
    PhoneContactMethod:
      $ref: models/PhoneContactMethod.yaml
    PushContactMethodSound:
      $ref: models/PushContactMethodSound.yaml
    PushContactMethod:
      $ref: models/PushContactMethod.yaml
    UserRole:
      $ref: models/UserRole.yaml
    UserReference:
      $ref: models/UserReference.yaml
    UserSession:
      $ref: models/UserSession.yaml
    User:
      $ref: models/User.yaml
    TeamReference:
      $ref: models/TeamReference.yaml
    Team:
      $ref: models/Team.yaml
    Impact:
      $ref: models/Impact.yaml
    Impactor:
      $ref: models/Impactor.yaml
    IncidentReference:
      $ref: models/IncidentReference.yaml
    Incident:
      $ref: models/Incident.yaml
    EscalationPolicyReference:
      $ref: models/EscalationPolicyReference.yaml
    EscalationPolicy:
      $ref: models/EscalationPolicy.yaml
    EscalationRule:
      $ref: models/EscalationRule.yaml
    EscalationTargetReference:
      $ref: models/EscalationTargetReference.yaml
    ExtensionReference:
      $ref: models/ExtensionReference.yaml
    Extension:
      $ref: models/Extension.yaml
    ServiceReference:
      $ref: models/ServiceReference.yaml
    Service:
      $ref: models/Service.yaml
    PriorityReference:
      $ref: models/PriorityReference.yaml
    Priority:
      $ref: models/Priority.yaml
    Integration:
      $ref: models/Integration.yaml
    IntegrationReference:
      $ref: models/IntegrationReference.yaml
    MaintenanceWindowReference:
      $ref: models/MaintenanceWindowReference.yaml
    MaintenanceWindow:
      $ref: models/MaintenanceWindow.yaml
    ScheduleReference:
      $ref: models/ScheduleReference.yaml
    Schedule:
      $ref: models/Schedule.yaml
    SubSchedule:
      $ref: models/SubSchedule.yaml
    ScheduleLayer:
      $ref: models/ScheduleLayer.yaml
    ScheduleLayerEntry:
      $ref: models/ScheduleLayerEntry.yaml
    ScheduleLayerUser:
      $ref: models/ScheduleLayerUser.yaml
    StatusDashboard:
      $ref: models/StatusDashboard.yaml
    Override:
      $ref: models/Override.yaml
    Restriction:
      $ref: models/Restriction.yaml
    WeeklyRestriction:
      $ref: models/WeeklyRestriction.yaml
    Pagination:
      $ref: ../common/models/OffsetPaginationResponse.yaml
    CursorPagination:
      $ref: ../common/models/CursorPaginationResponse.yaml
    LiveListResponse:
      $ref: ../common/models/LiveListResponse.yaml
    Assignment:
      $ref: models/Assignment.yaml
    Acknowledgement:
      $ref: models/Acknowledgement.yaml
    AcknowledgerReference:
      $ref: models/AcknowledgerReference.yaml
    Oncall:
      $ref: models/Oncall.yaml
    VendorReference:
      $ref: models/VendorReference.yaml
    Vendor:
      $ref: models/Vendor.yaml
    ExtensionSchemaReference:
      $ref: models/ExtensionSchemaReference.yaml
    ExtensionSchema:
      $ref: models/ExtensionSchema.yaml
    ResolveReason:
      $ref: models/ResolveReason.yaml
    Alert:
      $ref: models/Alert.yaml
    AlertReference:
      $ref: models/AlertReference.yaml
    AlertCount:
      $ref: models/AlertCount.yaml
    IncidentBody:
      $ref: models/IncidentBody.yaml
    StatusUpdate:
      $ref: models/StatusUpdate.yaml
    ResponderRequest:
      $ref: models/ResponderRequest.yaml
    ResponderRequestTargetReference:
      $ref: models/ResponderRequestTargetReference.yaml
    IncidentsRespondersReference:
      $ref: models/IncidentsRespondersReference.yaml
    ConferenceBridge:
      $ref: models/ConferenceBridge.yaml
    Action:
      $ref: models/Action.yaml
    WebhookIncidentAction:
      $ref: models/WebhookIncidentAction.yaml
    WebhookObject:
      $ref: models/WebhookObject.yaml
    Webhook:
      $ref: models/Webhook.yaml
    WebhookReference:
      $ref: models/WebhookReference.yaml
    OutboundIntegrationReference:
      $ref: models/OutboundIntegrationReference.yaml
    WebhookSubscription:
      $ref: models/webhooks/Subscription.yaml
    WebhookSubscriptionUpdate:
      $ref: models/webhooks/PutSubscription.yaml
    WebhooksV1Message:
      $ref: models/webhooksV1/Message.yaml
    WebhooksV1IncidentData:
      $ref: models/webhooksV1/IncidentData.yaml
    WebhooksV1Service:
      $ref: models/webhooksV1/Service.yaml
    WebhooksV1AssignedTo:
      $ref: models/webhooksV1/AssignedTo.yaml
    WebhooksV1AssignedToUser:
      $ref: models/webhooksV1/AssignedToUser.yaml
    ResponsePlay:
      $ref: models/ResponsePlay.yaml
    NotificationSubscriber:
      $ref: ./models/NotificationSubscriber.yaml
    NotificationSubscriberWithContext:
      $ref: ./models/NotificationSubscriberWithContext.yaml
    NotificationSubscribable:
      $ref: ./models/NotificationSubscribable.yaml
    NotificationSubscription:
      $ref: ./models/NotificationSubscription.yaml
    NotificationSubscriptionWithContext:
      $ref: ./models/NotificationSubscriptionWithContext.yaml
    AlertGroupingParameters:
      $ref: ./models/AlertGroupingParameters.yaml
    ContentBasedAlertGroupingConfiguration:
      $ref: ./models/ContentBasedAlertGroupingConfiguration.yaml
    TimeBasedAlertGroupingConfiguration:
      $ref: ./models/TimeBasedAlertGroupingConfiguration.yaml
    RelatedIncidentServiceDependencyBase:
      $ref: ./models/RelatedIncidentServiceDependencyBase.yaml
    RelatedIncidentMachineLearningRelationship:
      $ref: ./models/RelatedIncidentMachineLearningRelationship.yaml
    RelatedIncidentServiceDependencyRelationship:
      $ref: ./models/RelatedIncidentServiceDependencyRelationship.yaml
    EmailParser:
      $ref: ./models/EmailParser.yaml
    MatchPredicate:
      $ref: ./models/MatchPredicate.yaml
    HandoffNotificationRule:
      $ref: models/HandoffNotificationRule.yaml
    Orchestration:
      $ref: ./models/Orchestration.yaml
    OrchestrationRouter:
      $ref: ./models/OrchestrationPath-RouterType.yaml
    OrchestrationUnrouted:
      $ref: ./models/OrchestrationPath-UnroutedType.yaml
    ServiceOrchestration:
      $ref: ./models/OrchestrationPath-ServiceType.yaml
paths:
  '/{entity_type}/{id}/change_tags':
    x-pd-owner: IR Incidents
    post:
      tags:
        - Tags
      operationId: createEntityTypeByIdChangeTags
      description: |
        Assign existing or new tags.

        A Tag is applied to Escalation Policies, Teams or Users and can be used to filter them.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#tags)
      summary: Assign tags
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/entity_type
        - $ref: ../common/models/Parameters.yaml#/id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Tags to add to or remove from the entity.
              properties:
                add:
                  type: array
                  description: |
                    Array of tags and/or tag references to add to the entity.
                    For elements with type `tag_reference`, the tag with the corresponding `id` is added to the entity.
                    For elements with type `tag`, if there is an existing tag with the given
                    label that tag is added to the entity. If there is no existing tag with that label and the user has permission
                    to create tags, a new tag is created with that label and assigned to the entity.
                  items:
                    title: Tags to add
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - tag
                          - tag_reference
                      label:
                        type: string
                        description: The label of the tag. Should be used when type is "tag".
                        maxLength: 191
                      id:
                        type: string
                        description: The id of the tag. Should be used when type is "tag_reference".
                        readOnly: true
                    required:
                      - type
                remove:
                  type: array
                  description: Array of tag references to remove from the entity.
                  items:
                    title: Tags to remove.
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - tag_reference
                      id:
                        type: string
                        description: The id of the tag
                        readOnly: true
                    required:
                      - type
                      - id
            examples:
              tags:
                summary: Request Example
                value:
                  add:
                    - type: tag
                      label: Batman
                    - type: tag_reference
                      id: P5IYCNZ
                  remove:
                    - type: tag_reference
                      id: POE7RY8
                    - type: tag_reference
                      id: PG68P1M
      responses:
        '200':
          description: The tags were added and/or removed.
          content:
            application/json:
              schema:
                type: object
              examples:
                response:
                  summary: Request Example
                  value:
                    add:
                      - type: tag
                        label: Batman
                      - type: tag_reference
                        id: P5IYCNZ
                    remove:
                      - type: tag_reference
                        id: POE7RY8
                      - type: tag_reference
                        id: PG68P1M
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
  '/{entity_type}/{id}/tags':
    x-pd-owner: IR Incidents
    get:
      tags:
        - Tags
      operationId: getEntityTypeByIdTags
      description: |
        Get related tags for Users, Teams or Escalation Policies.

        A Tag is applied to Escalation Policies, Teams or Users and can be used to filter them.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#tags)
      summary: Get tags for entities
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/offset_limit
        - $ref: ../common/models/Parameters.yaml#/offset_offset
        - $ref: ../common/models/Parameters.yaml#/offset_total
        - $ref: ../common/models/Parameters.yaml#/entity_type
        - $ref: ../common/models/Parameters.yaml#/id
      responses:
        '200':
          description: An array of tags.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: ../common/models/OffsetPaginationResponse.yaml
                  - type: object
                    properties:
                      tags:
                        type: array
                        items:
                          $ref: models/Tag.yaml
                    required:
                      - tags
              examples:
                response:
                  summary: Response Example
                  value:
                    tags:
                      - type: tag
                        summary: Batman
                        self: 'https://api.pagerduty.com/tags/P5IYCNZ'
                        label: Batman
                        id: P5IYCNZ
                        html_url: null
                    limit: 100
                    offset: 0
                    total: 1
                    more: false
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
  /abilities:
    x-pd-owner: Enterprise Foundations
    description: List your account's abilities.
    get:
      tags:
        - Abilities
      operationId: listAbilities
      description: |
        List all of your account's abilities, by name.

        "Abilities" describes your account's capabilities by feature name. For example `"teams"`.

        An ability may be available to your account based on things like your pricing plan or account state.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#abilities)
      summary: List abilities
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
      responses:
        '200':
          description: An array of ability names.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      abilities:
                        type: array
                        description: The set of abilities your account has.
                        items:
                          type: string
                          description: 'A single ability, as a name.'
                          readOnly: true
                    required:
                      - abilities
              examples:
                response:
                  summary: Example Response
                  value:
                    abilities:
                      - teams
                      - read_only_users
                      - service_support_hours
                      - urgencies
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
  '/abilities/{id}':
    x-pd-owner: Enterprise Foundations
    description: Get an ability.
    get:
      tags:
        - Abilities
      operationId: getAbility
      description: |
        Test whether your account has a given ability.

        "Abilities" describes your account's capabilities by feature name. For example `"teams"`.

        An ability may be available to your account based on things like your pricing plan or account state.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#abilities)
      summary: Test an ability
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/id
      responses:
        '204':
          description: The account has the requested ability.
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '402':
          $ref: ../common/models/PaymentRequired.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
  /addons:
    x-pd-owner: App Foundations
    description: List and add Add-ons to your account.
    get:
      tags:
        - Add-ons
      operationId: listAddon
      description: |
        List all of the Add-ons installed on your account.

        Addon's are pieces of functionality that developers can write to insert new functionality into PagerDuty's UI.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#add-ons)
      summary: List installed Add-ons
      parameters:
        - $ref: ../common/models/Parameters.yaml#/offset_limit
        - $ref: ../common/models/Parameters.yaml#/offset_offset
        - $ref: ../common/models/Parameters.yaml#/offset_total
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/include_addon
        - $ref: ../common/models/Parameters.yaml#/addon_services
        - $ref: ../common/models/Parameters.yaml#/addon_filter
      responses:
        '200':
          description: A paginated array of installed Add-ons.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: ../common/models/OffsetPaginationResponse.yaml
                  - type: object
                    properties:
                      addons:
                        type: array
                        items:
                          $ref: models/AddonReference.yaml
                    required:
                      - addons
              examples:
                response:
                  summary: Example Response
                  value:
                    addons:
                      - id: PKX7619
                        type: full_page_addon_reference
                        summary: Internal Status Page
                        self: 'https://api.pagerduty.com/addons/PKX7619'
                        html_url: null
                        name: Internal Status Page
                        src: 'https://intranet.example.com/status'
                    limit: 25
                    offset: 0
                    more: false
                    total: null
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
    post:
      tags:
        - Add-ons
      operationId: createAddon
      description: |
        Install an Add-on for your account.

        Addon's are pieces of functionality that developers can write to insert new functionality into PagerDuty's UI.

        Given a configuration containing a `src` parameter, that URL will be embedded in an `iframe` on a page that's available to users from a drop-down menu.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#add-ons)
      summary: Install an Add-on
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                addon:
                  $ref: models/Addon.yaml
              required:
                - addon
            examples:
              request:
                summary: Request Example
                value:
                  addon:
                    type: full_page_addon
                    name: Internal Status Page
                    src: 'https://intranet.example.com/status'
        description: The Add-on to be installed.
      responses:
        '201':
          description: The Add-on that was installed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  addon:
                    $ref: models/AddonReference.yaml
                required:
                  - addon
              examples:
                response:
                  summary: Response Example
                  value:
                    addon:
                      id: PKX7619
                      type: full_page_addon_reference
                      summary: Internal Status Page
                      self: 'https://api.pagerduty.com/addons/PKX7619'
                      html_url: null
                      name: Internal Status Page
                      src: 'https://intranet.example.com/status'
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
  '/addons/{id}':
    x-pd-owner: App Foundations
    description: Perform actions on the specified Add-on.
    get:
      tags:
        - Add-ons
      operationId: getAddon
      description: |
        Get details about an existing Add-on.

        Addon's are pieces of functionality that developers can write to insert new functionality into PagerDuty's UI.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#add-ons)
      summary: Get an Add-on
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/id
      responses:
        '200':
          description: The requested Add-on.
          content:
            application/json:
              schema:
                type: object
                properties:
                  addon:
                    $ref: models/Addon.yaml
                required:
                  - addon
              examples:
                response:
                  summary: Example Response
                  value:
                    addon:
                      id: PKX7F81
                      type: incident_show_addon
                      name: Service Runbook
                      src: 'https://intranet.example.com/runbook.html'
                      services:
                        - id: PIJ90N7
                          type: service
                          summary: My Application Service
                          self: 'https://api.pagerduty.com/services/PIJ90N7'
                          html_url: 'https://subdomain.pagerduty.com/services/PIJ90N7'
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
    delete:
      tags:
        - Add-ons
      operationId: deleteAddon
      description: |
        Remove an existing Add-on.

        Addon's are pieces of functionality that developers can write to insert new functionality into PagerDuty's UI.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#add-ons)
      summary: Delete an Add-on
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/id
      responses:
        '204':
          description: The Add-on was deleted successfully.
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
    put:
      tags:
        - Add-ons
      operationId: updateAddon
      description: |
        Update an existing Add-on.

        Addon's are pieces of functionality that developers can write to insert new functionality into PagerDuty's UI.

        Given a configuration containing a `src` parameter, that URL will be embedded in an `iframe` on a page that's available to users from a drop-down menu.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#add-ons)
      summary: Update an Add-on
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                addon:
                  $ref: models/Addon.yaml
              required:
                - addon
            examples:
              request:
                summary: Request Example
                value:
                  addon:
                    type: full_page_addon
                    name: Internal Status Page
                    src: 'https://intranet.example.com/status'
        description: The Add-on to be updated.
      responses:
        '200':
          description: The Add-on that was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  addon:
                    $ref: models/Addon.yaml
                required:
                  - addon
              examples:
                response:
                  summary: Response Example
                  value:
                    addon:
                      id: PKX7F81
                      type: incident_show_addon
                      name: Service Runbook
                      src: 'https://intranet.example.com/runbook.html'
                      services:
                        - id: PIJ90N7
                          type: service
                          summary: My Application Service
                          self: 'https://api.pagerduty.com/services/PIJ90N7'
                          html_url: 'https://subdomain.pagerduty.com/services/PIJ90N7'
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
  /analytics/metrics/incidents/all:
    x-pd-owner: Analytics
    post:
      summary: Get aggregated incident data
      operationId: getAnalyticsMetricsIncidentsAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: ./models/AnalyticsIncidentMetrics.yaml
                  - $ref: models/AnalyticsFilter.yaml
              examples:
                Example Response:
                  value:
                    aggregate_unit: day
                    data:
                      - mean_assignment_count: 1
                        mean_engaged_seconds: 366
                        mean_engaged_user_count: 1
                        mean_seconds_to_engage: 81
                        mean_seconds_to_first_ack: 63
                        mean_seconds_to_mobilize: 41
                        mean_seconds_to_resolve: 380
                        range_start: '2020-01-01T00:00:00.000000'
                        total_business_hour_interruptions: 81
                        total_engaged_seconds: 3591
                        total_escalation_count: 5
                        total_incident_count: 124
                        total_off_hour_interruptions: 20
                        total_sleep_hour_interruptions: 21
                        total_snoozed_seconds: 78
                    filters:
                      create_range_start: '2020-01-01T00:00:00Z'
                      create_range_end: '2020-02-01T00:00:00Z'
                    time_zone: Etc/UTC
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
      parameters:
        - $ref: ../common/models/Parameters.yaml#/early_access_analytics
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/AnalyticsFilter.yaml
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2021-01-01T00:00:00-05:00'
                    created_at_end: '2021-01-31T00:00:00-05:00'
                    urgency: high
                    major: true
                    team_ids:
                      - PGVXG6U
                      - PNVU4U4
                    service_ids:
                      - PQVUB8D
                      - PU2D9X3
                  aggregate_unit: day
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: |
        Provides aggregated enriched metrics for incidents.

        The provided metrics are aggregated by day, week, month using the aggregate_unit parameter, or for the entire period if no aggregate_unit is provided.

        <!-- theme: warning -->
        > ### Early Access
        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.
        <!-- theme: info -->
        > A `team_ids` or `service_ids` filter is required for [user-level API keys](https://support.pagerduty.com/docs/using-the-api#section-generating-a-personal-rest-api-key) or keys generated through an OAuth flow. Account-level API keys do not have this requirement.
        <!-- theme: info -->
        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.
      tags:
        - Analytics
    parameters: []
  /analytics/metrics/incidents/services:
    x-pd-owner: Analytics
    post:
      summary: Get aggregated service data
      operationId: getAnalyticsMetricsIncidentsService
      responses:
        '200':
          description: Currently the response only returns data for services that match the filters and have data.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: ./models/AnalyticsIncidentMetrics.yaml
                  - $ref: models/AnalyticsFilter.yaml
              examples:
                Example Response:
                  value:
                    aggregate_unit: week
                    data:
                      - mean_assignment_count: 1
                        mean_engaged_seconds: 366
                        mean_engaged_user_count: 1
                        mean_seconds_to_engage: 81
                        mean_seconds_to_first_ack: 63
                        mean_seconds_to_mobilize: 41
                        mean_seconds_to_resolve: 380
                        service_id: PPSCXAN
                        service_name: Critical Prod Service 1
                        team_id: P3XUQ75
                        team_name: Engineering
                        total_business_hour_interruptions: 81
                        total_engaged_seconds: 3591
                        total_escalation_count: 5
                        total_incident_count: 124
                        total_off_hour_interruptions: 20
                        total_sleep_hour_interruptions: 21
                        total_snoozed_seconds: 78
                        up_time_pct: 99.92677595628416
                      - mean_assignment_count: 1
                        mean_engaged_seconds: 366
                        mean_engaged_user_count: 1
                        mean_seconds_to_engage: 81
                        mean_seconds_to_first_ack: 63
                        mean_seconds_to_mobilize: 41
                        mean_seconds_to_resolve: 380
                        service_id: PPSCXAN
                        service_name: Meme Fetcher Bot
                        team_id: PDN84B1
                        team_name: Marketing
                        total_business_hour_interruptions: 81
                        total_engaged_seconds: 3591
                        total_escalation_count: 5
                        total_incident_count: 124
                        total_off_hour_interruptions: 20
                        total_sleep_hour_interruptions: 21
                        total_snoozed_seconds: 78
                        up_time_pct: 99.98747723132969
                    filters:
                      created_at_start: '2020-06-17T17:27:27Z'
                      created_at_end: '2020-06-16T17:27:27Z'
                    time_zone: Etc/UTC
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
      parameters:
        - $ref: ../common/models/Parameters.yaml#/early_access_analytics
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/AnalyticsFilter.yaml
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2021-01-01T00:00:00-05:00'
                    created_at_end: '2021-01-31T00:00:00-05:00'
                    urgency: high
                    major: true
                    team_ids:
                      - PGVXG6U
                      - PNVU4U4
                    service_ids:
                      - PQVUB8D
                      - PU2D9X3
                    priority_ids:
                      - PITMC5Y
                      - PEHBBT8
                  aggregate_unit: week
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: |
        Provides aggregated metrics for incidents aggregated into units of time by service.

        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Some metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/pagerduty-analytics).
        Data can be aggregated by day, week or month in addition to by service, or provided just as a collection of aggregates for each service in the dataset for the entire period.  If a unit is provided, each row in the returned dataset will include a 'range_start' timestamp.

        <!-- theme: warning -->
        > ### Early Access
        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.
        <!-- theme: info -->
        > A `team_ids` or `service_ids` filter is required for [user-level API keys](https://support.pagerduty.com/docs/using-the-api#section-generating-a-personal-rest-api-key) or keys generated through an OAuth flow. Account-level API keys do not have this requirement.
        <!-- theme: info -->
        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.
      tags:
        - Analytics
    parameters: []
  /analytics/metrics/incidents/teams:
    x-pd-owner: Analytics
    post:
      summary: Get aggregated team data
      operationId: getAnalyticsMetricsIncidentsTeam
      responses:
        '200':
          description: Currently the response only returns data for teams that match the filters and have data.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: ./models/AnalyticsIncidentMetrics.yaml
                  - $ref: models/AnalyticsFilter.yaml
              examples:
                Example Response:
                  value:
                    data:
                      - mean_assignment_count: 1
                        mean_engaged_seconds: 366
                        mean_engaged_user_count: 1
                        mean_seconds_to_engage: 81
                        mean_seconds_to_first_ack: 63
                        mean_seconds_to_mobilize: 41
                        mean_seconds_to_resolve: 380
                        team_id: PPSCXAN
                        team_name: 'Best Team A #1'
                        total_business_hour_interruptions: 81
                        total_engaged_seconds: 3591
                        total_escalation_count: 5
                        total_incident_count: 124
                        total_off_hour_interruptions: 20
                        total_sleep_hour_interruptions: 21
                        total_snoozed_seconds: 78
                        up_time_pct: 99.98861566484517
                      - mean_assignment_count: 1
                        mean_engaged_seconds: 366
                        mean_engaged_user_count: 1
                        mean_seconds_to_engage: 81
                        mean_seconds_to_first_ack: 63
                        mean_seconds_to_mobilize: 41
                        mean_seconds_to_resolve: 380
                        team_id: PPSCXAN
                        team_name: 'Best Team A #2'
                        total_business_hour_interruptions: 81
                        total_engaged_seconds: 3591
                        total_escalation_count: 5
                        total_incident_count: 124
                        total_off_hour_interruptions: 20
                        total_sleep_hour_interruptions: 21
                        total_snoozed_seconds: 78
                        up_time_pct: 99.98483728172828
                    filters:
                      created_at_start: '2020-06-17T17:27:27Z'
                      created_at_end: '2020-06-16T17:27:27Z'
                    aggregate_unit: day
                    time_zone: Etc/UTC
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
      parameters:
        - $ref: ../common/models/Parameters.yaml#/early_access_analytics
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/AnalyticsFilter.yaml
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2021-01-01T00:00:00-05:00'
                    created_at_end: '2021-01-31T00:00:00-05:00'
                    urgency: high
                    major: true
                    team_ids:
                      - PGVXG6U
                      - PNVU4U4
                    service_ids:
                      - PQVUB8D
                      - PU2D9X2
                    priority_ids:
                      - PITMC5Y
                      - PEHBBT8
                  aggregate_unit: week
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: |
        Provides aggregated metrics for incidents aggregated into units of time by team.

        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Some metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/pagerduty-analytics).
        Data can be aggregated by day, week or month in addition to by team, or provided just as a collection of aggregates for each team in the dataset for the entire period.  If a unit is provided, each row in the returned dataset will include a 'range_start' timestamp.

        <!-- theme: warning -->
        > ### Early Access
        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.
        <!-- theme: info -->
        > A `team_ids` or `service_ids` filter is required for [user-level API keys](https://support.pagerduty.com/docs/using-the-api#section-generating-a-personal-rest-api-key) or keys generated through an OAuth flow. Account-level API keys do not have this requirement.
        <!-- theme: info -->
        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.
      tags:
        - Analytics
    parameters: []
  /analytics/raw/incidents:
    x-pd-owner: Analytics
    post:
      summary: Get raw data - multiple incidents
      operationId: getAnalyticsIncidents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  first:
                    type: string
                    description: Cursor to identify the first object in the response.
                  last:
                    type: string
                    description: Cursor to identify the last object in the response.
                  limit:
                    type: integer
                    description: Number of results to include in the batch.
                  more:
                    type: boolean
                    description: Indicates if there are more resources available than were returned.
                  order:
                    type: string
                    description: 'The order in which the results were sorted;  asc for ascending, desc for descending.'
                    enum:
                      - asc
                      - desc
                  order_by:
                    type: string
                    description: The column that was used for ordering the results.
                    enum:
                      - created_at
                      - seconds_to_resolve
                  filters:
                    type: object
                    description: A collection of filters that were applied to the results.
                    properties:
                      created_at_start:
                        type: string
                        description: The lower boundary for the created_at range filter applied to the results.
                      created_at_end:
                        type: string
                        description: The upper boundary for the created_at range filter applied to the results.
                      urgency:
                        type: string
                        description: The urgency filter applied to the results.
                        enum:
                          - high
                          - low
                      major:
                        type: boolean
                        description: 'The [major incident](https://support.pagerduty.com/docs/operational-reviews#major-incidents) filter applied to the results.'
                      team_ids:
                        type: array
                        description: The team_ids filter applied to the results.
                        items:
                          type: string
                      service_ids:
                        type: array
                        description: The service_ids filter applied to the results.
                        items:
                          type: string
                      priority_ids:
                        type: array
                        description: The priority_ids filter applied to the results.
                        maxItems: 5
                        items:
                          type: string
                      priority_names:
                        type: array
                        description: The priority_names filter applied to the results.
                        maxItems: 5
                        items:
                          type: string
                  time_zone:
                    type: string
                    description: The time zone that the results are in.
                  data:
                    type: array
                    items:
                      $ref: ./models/AnalyticsRawIncident.yaml
                required:
                  - first
                  - last
                  - limit
                  - more
                  - order
                  - order_by
                  - time_zone
                  - data
              examples:
                Example Response:
                  value:
                    data:
                      - assignment_count: 4
                        business_hour_interruptions: 5
                        created_at: '2020-05-31T10:05:00'
                        description: The server is on fire!
                        engaged_seconds: 3510
                        engaged_user_count: 10
                        escalation_count: 1
                        id: PYC0H08
                        incident_number: 928
                        major: false
                        off_hour_interruptions: 4
                        priority_id: null
                        priority_name: null
                        resolved_at: '2020-05-31T10:15:00'
                        seconds_to_engage: 70
                        seconds_to_first_ack: 5
                        seconds_to_mobilize: 19
                        seconds_to_resolve: 3305
                        service_id: PPSCXAN
                        service_name: Engineering
                        sleep_hour_interruptions: 3
                        snoozed_seconds: 604
                        team_id: null
                        team_name: null
                        urgency: low
                        user_defined_effort_seconds: null
                      - assignment_count: 1
                        business_hour_interruptions: 2
                        created_at: '2020-05-31T10:05:00'
                        description: Reply on social media
                        engaged_seconds: 521
                        engaged_user_count: 6
                        escalation_count: 1
                        id: PCOOHCY
                        incident_number: 929
                        major: false
                        off_hour_interruptions: 3
                        priority_id: POTCOTX
                        priority_name: SEV-2
                        resolved_at: '2020-05-31T10:15:00'
                        seconds_to_engage: 24
                        seconds_to_first_ack: 48
                        seconds_to_mobilize: 122
                        seconds_to_resolve: 2029
                        service_id: PPSCXAN
                        service_name: Social media tracking
                        sleep_hour_interruptions: 1
                        snoozed_seconds: 698
                        team_id: null
                        team_name: Marketing
                        urgency: low
                        user_defined_effort_seconds: null
                    ending_before: null
                    filters: {}
                    first: PYC0H08
                    last: PCOOHCY
                    limit: 10
                    more: true
                    order: desc
                    order_by: created_at
                    starting_after: null
                    time_zone: Etc/UTC
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
      parameters:
        - $ref: ../common/models/Parameters.yaml#/early_access_analytics
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  description: 'Filters the result, only show incidents that match the conditions passed in the filter.'
                  properties:
                    created_at_start:
                      type: string
                      description: 'Filters the result, showing only the incidents where the creation timestamp is greater than the filter value.'
                      example: '2020-05-01T00:00:00-04:00'
                    created_at_end:
                      type: string
                      description: 'Filters the result, showing only the incidents where the creation timestamp is less than the filter value.'
                      example: '2020-06-01T00:00:00-04:00'
                    urgency:
                      type: string
                      description: 'Filters the result, showing only the incidents where urgency matches the filter value.'
                      example: high
                    major:
                      type: boolean
                      description: 'An incident is classified as a [major incident](https://support.pagerduty.com/docs/operational-reviews#major-incidents) if it has one of the two highest priorities, or if multiple responders are added and acknowledge the incident.'
                      example: true
                    team_ids:
                      type: array
                      description: An array of team IDs. Only results related to these teams will be returned. Account must have the teams ability to use this parameter.
                      items:
                        type: string
                      example:
                        - P373JQQ
                        - PAECHJV
                        - P7SYGW6
                    service_ids:
                      type: array
                      description: An array of service IDs. Only results related to these services will be returned.
                      items:
                        type: string
                      example:
                        - PC8O0L3
                        - PX01HJD
                        - P5FK83M
                    priority_ids:
                      type: array
                      description: The priority_ids filter applied to the results.
                      items:
                        type: string
                      example:
                        - PITMC5Y
                        - PEHBBT8
                        - PB8QADI
                    priority_names:
                      type: array
                      description: The priority_names filter applied to the results.
                      items:
                        type: string
                      example:
                        - P1
                        - P2
                        - P3
                starting_after:
                  type: string
                  description: A cursor to indicate the reference point that the results should follow
                ending_before:
                  type: string
                  description: A cursor to indicate the reference point that the results should precede
                order:
                  type: string
                  description: 'The order the results;  asc for ascending, desc for descending. Defaults to ''desc''.'
                  enum:
                    - asc
                    - desc
                order_by:
                  type: string
                  description: The column to use for ordering the results. Defaults to 'created_at'.
                  enum:
                    - created_at
                    - seconds_to_resolve
                limit:
                  type: integer
                  description: |-
                    Number of results to include in each batch.
                    Limits between 1 to 1000 are accepted.
                  example: 20
                  minimum: 0
                  exclusiveMinimum: true
                  maximum: 1000
                  exclusiveMaximum: false
                time_zone:
                  type: string
                  description: The time zone to use for the results.
                  example: Etc/UTC
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2021-01-01T00:00:00-05:00'
                    created_at_end: '2021-01-31T00:00:00-05:00'
                    urgency: high
                    major: true
                    team_ids:
                      - PGVXG6U
                      - PNVU4U4
                    service_ids:
                      - PQVUB8D
                      - PU2D9X3
                    priority_names:
                      - P1
                      - P2
                  limit: 20
                  order: desc
                  order_by: created_at
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: |
        Provides enriched incident data and metrics for multiple incidents.

        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Some metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/pagerduty-analytics).

        <!-- theme: warning -->
        > ### Early Access
        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.
        <!-- theme: info -->
        > A `team_ids` or `service_ids` filter is required for [user-level API keys](https://support.pagerduty.com/docs/using-the-api#section-generating-a-personal-rest-api-key) or keys generated through an OAuth flow. Account-level API keys do not have this requirement.
        <!-- theme: info -->
        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.
      tags:
        - Analytics
    parameters: []
  '/analytics/raw/incidents/{id}':
    x-pd-owner: Analytics
    parameters:
      - $ref: ../common/models/Parameters.yaml#/id
    get:
      summary: Get raw data - single incident
      tags:
        - Analytics
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: ./models/AnalyticsRawIncident.yaml
              examples:
                Example Response:
                  value:
                    time_zone: Etc/UTC
                    data:
                      assignment_count: 0
                      business_hour_interruptions: 0
                      created_at: '2019-12-01T21:00:00Z'
                      description: The server is on fire!
                      engaged_seconds: 75
                      engaged_user_count: 2
                      escalation_count: 0
                      id: PJASD33
                      incident_number: 924
                      major: true
                      off_hour_interruptions: 2
                      priority_id: PZOZQXA
                      priority_name: SEV-1
                      resolved_at: '2019-12-01T21:01:00Z'
                      seconds_to_engage: 30
                      seconds_to_first_ack: 15
                      seconds_to_mobilize: 15
                      seconds_to_resolve: 60
                      service_id: PAQTPI2
                      service_name: Engineering
                      sleep_hour_interruptions: 0
                      snoozed_seconds: 0
                      team_id: PNVU4UR
                      team_name: Engineering team 7
                      urgency: high
                      user_defined_effort_seconds: null
        '404':
          $ref: ../common/models/NotFound.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
      operationId: getAnalyticsIncidentsById
      description: |
        Provides enriched incident data and metrics for a single incident.

        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Some metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/pagerduty-analytics).

        <!-- theme: warning -->
        > ### Early Access
        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.
        <!-- theme: info -->
        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/early_access_analytics
  /audit/records:
    x-pd-owner: Enterprise Foundations
    description: List audit records.
    get:
      summary: List audit records
      tags:
        - Audit
      operationId: listAuditRecords
      description: |
        List audit trail records matching provided query params or default criteria.

        The returned records are sorted by the `execution_time` from newest to oldest.

        See [`Cursor-based pagination`](https://developer.pagerduty.com/docs/rest-api-v2/pagination/) for instructions on how to paginate through the result set.

        Only admins, account owners, or global API tokens on PagerDuty account [pricing plans](https://www.pagerduty.com/pricing) with the "Audit Trail" feature can access this endpoint.

        For other role based access to audit records by resource ID, see the resource's API documentation.

        For more information see the [Audit API Document](https://developer.pagerduty.com/docs/rest-api-v2/audit-records-api/).
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/cursor_limit
        - $ref: ../common/models/Parameters.yaml#/cursor_cursor
        - $ref: ../common/models/Parameters.yaml#/audit_since
        - $ref: ../common/models/Parameters.yaml#/audit_until
        - $ref: ../common/models/Parameters.yaml#/audit_root_resource_types
        - $ref: ../common/models/Parameters.yaml#/audit_actor_type
        - $ref: ../common/models/Parameters.yaml#/audit_actor_id
        - $ref: ../common/models/Parameters.yaml#/audit_method_type
        - $ref: ../common/models/Parameters.yaml#/audit_method_truncated_token
        - $ref: ../common/models/Parameters.yaml#/audit_actions
      responses:
        '200':
          description: Records matching the query criteria.
          content:
            application/json:
              schema:
                $ref: models/AuditRecordResponseSchema.yaml
              examples:
                response:
                  $ref: ./examples/AuditRecordResponse.yaml
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '402':
          $ref: ../common/models/PaymentRequired.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
        '500':
          $ref: ../common/models/InternalServerError.yaml
  /business_services:
    x-pd-owner: IR Services
    description: List and create Business Services.
    get:
      tags:
        - Business Services
      operationId: listBusinessServices
      description: |
        List existing Business Services.

        Business services model capabilities that span multiple technical services and that may be owned by several different teams.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#business-services)
      summary: List Business Services
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/offset_limit
        - $ref: ../common/models/Parameters.yaml#/offset_offset
        - $ref: ../common/models/Parameters.yaml#/offset_total
      responses:
        '200':
          description: A paginated array of services.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: ../common/models/OffsetPaginationResponse.yaml
                  - type: object
                    properties:
                      business_services:
                        type: array
                        items:
                          $ref: models/BusinessService.yaml
                    required:
                      - business_services
              examples:
                response:
                  summary: Response Example
                  value:
                    business_services:
                      - type: business_service
                        self: 'https://api.pagerduty.com/business_services/P3U7V58'
                        html_url: null
                        point_of_contact: PagerDuty Admin
                        name: stand-alone node
                        team: null
                        id: P3U7V58
                        description: Very important business function
                        summary: stand-alone node
                      - type: business_service
                        self: 'https://api.pagerduty.com/business_services/P1L1YEE'
                        html_url: null
                        point_of_contact: PagerDuty Admin
                        name: Cross-tier business service
                        id: P1L1YEE
                        summary: Cross-tier business service
                        team:
                          id: PQ9K7I8
                          type: team_reference
                          self: 'https://api.pagerduty.com/teams/PQ9K7I8'
                    limit: 100
                    offset: 0
                    total: null
                    more: false
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
    post:
      tags:
        - Business Services
      operationId: createBusinessService
      description: |
        Create a new Business Service.

        Business services model capabilities that span multiple technical services and that may be owned by several different teams.

        There is a limit of 5,000 business services per account. If the limit is reached, the API will respond with an error.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#business-services)
      summary: Create a Business Service
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                business_service:
                  type: object
                  description: The Business Service to be created
                  properties:
                    name:
                      type: string
                      description: The name of the Business Service.
                    description:
                      type: string
                      description: The description of the Business Service.
                    point_of_contact:
                      type: string
                      description: The owner of the Business Service.
                    team:
                      type: object
                      title: Team
                      description: Reference to the team that owns the Business Service.
                      properties:
                        id:
                          type: string
                          description: The Team ID
            examples:
              request:
                summary: Request Example
                value:
                  business_service:
                    name: Self-serve mobile checkout
                    description: Checkout service for our mobile clients
                    point_of_contact: PagerDuty Admin
                    team:
                      id: P3ZQXDF
      responses:
        '200':
          description: The Business Service that was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  business_service:
                    $ref: models/BusinessService.yaml
                required:
                  - business_service
              examples:
                response:
                  summary: Response Example
                  value:
                    business_service:
                      id: P1L1YEE
                      type: business_service
                      self: 'https://api.pagerduty.com/business_services/P1L1YEE'
                      html_url: null
                      point_of_contact: PagerDuty Admin
                      name: Self-serve mobile checkout
                      description: Checkout service for our mobile clients.
                      summary: Self-serve mobile checkout
                      team:
                        id: P3ZQXDF
                        type: team_reference
                        self: 'https://api.pagerduty.com/teams/P3ZQXDF'
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
  '/business_services/{id}':
    x-pd-owner: IR Services
    description: Manage a Business Service.
    get:
      tags:
        - Business Services
      operationId: getBusinessService
      description: |
        Get details about an existing Business Service.

        Business services model capabilities that span multiple technical services and that may be owned by several different teams.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#business-services)
      summary: Get a Business Service
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/id
      responses:
        '200':
          description: The service business requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  business_service:
                    $ref: models/BusinessService.yaml
                required:
                  - business_service
              examples:
                response:
                  summary: Response Example
                  value:
                    business_service:
                      id: P1L1YEE
                      type: business_service
                      self: 'https://api.pagerduty.com/business_services/P1L1YEE'
                      html_url: null
                      name: Cross-tier business service
                      description: Business service affected by multiple teams
                      point_of_contact: PagerDuty Admin
                      summary: Cross-tier business services
                      team:
                        id: PQ9K7I8
                        type: team_reference
                        self: 'https://api.pagerduty.com/teams/PQ9K7I8'
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
    delete:
      tags:
        - Business Services
      operationId: deleteBusinessService
      description: |
        Delete an existing Business Service.

        Once the service is deleted, it will not be accessible from the web UI and new incidents won't be able to be created for this service.

        Business services model capabilities that span multiple technical services and that may be owned by several different teams.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#business-services)
      summary: Delete a Business Service
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/id
      responses:
        '204':
          description: The Business Service was deleted successfully.
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
    put:
      tags:
        - Business Services
      operationId: updateBusinessService
      description: |
        Update an existing Business Service. NOTE that this endpoint also accepts the PATCH verb.

        Business services model capabilities that span multiple technical services and that may be owned by several different teams.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#business-services)
      summary: Update a Business Service
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/header_Content-Type
        - $ref: ../common/models/Parameters.yaml#/id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                business_service:
                  type: object
                  description: The Business Service to be created
                  properties:
                    name:
                      type: string
                      description: The name of the Business Service.
                    description:
                      type: string
                      description: The description of the Business Service.
                    point_of_contact:
                      type: string
                      description: The owner of the Business Service.
                    team:
                      type: object
                      title: Team
                      description: Reference to the team that owns the Business Service.
                      properties:
                        id:
                          type: string
                          description: The team ID
            examples:
              request:
                summary: Request Example
                value:
                  business_service:
                    name: Self-serve mobile checkout
                    description: Checkout service for our mobile clients
                    point_of_contact: PagerDuty Admin
                    team:
                      id: P3ZQXDF
      responses:
        '200':
          description: The Business Service that was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  business_service:
                    $ref: models/BusinessService.yaml
                required:
                  - business_service
              examples:
                response:
                  summary: Response Example
                  value:
                    business_service:
                      id: P1L1YEE
                      type: business_service
                      self: 'https://api.pagerduty.com/business_services/P1L1YEE'
                      html_url: null
                      point_of_contact: PagerDuty Admin
                      name: Self-serve mobile checkout
                      description: Checkout service for our mobile clients.
                      summary: Self-serve mobile checkout
                      team:
                        id: P3ZQXDF
                        type: team_reference
                        self: 'https://api.pagerduty.com/teams/P3ZQXDF'
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
  '/business_services/{id}/account_subscription':
    x-pd-owner: IR Services
    post:
      summary: Create Business Service Account Subscription
      tags:
        - Business Services
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_is_subscribed:
                    type: boolean
                required:
                  - account_is_subscribed
              examples:
                response:
                  summary: Response Example
                  value:
                    account_is_subscribed: true
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
        '422':
          $ref: ../common/models/UnprocessableEntity.yaml
      operationId: createBusinessServiceAccountSubscription
      description: Subscribe your Account to a Business Service.
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/id
    delete:
      summary: Delete Business Service Account Subscription
      tags:
        - Business Services
      operationId: removeBusinessServiceAccountSubscription
      responses:
        '204':
          description: The account was unsubscribed successfully.
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
        '422':
          $ref: ../common/models/UnprocessableEntity.yaml
      description: Unsubscribe your Account from a Business Service.
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/id
  '/business_services/{id}/subscribers':
    x-pd-owner: IR Services
    get:
      summary: List Business Service Subscribers
      tags:
        - Business Services
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: ../common/models/OffsetPaginationResponse.yaml
                  - type: object
                    properties:
                      subscribers:
                        type: array
                        items:
                          $ref: ./models/NotificationSubscriber.yaml
                  - type: object
                    properties:
                      account_id:
                        type: string
                        description: The ID of the account belonging to the subscriber entity
              examples:
                response:
                  summary: Response Example
                  value:
                    limit: 100
                    more: false
                    offset: 0
                    subscribers:
                      - subscriber_id: PD1234
                        subscriber_type: user
                      - subscriber_id: PD1234
                        subscriber_type: team
                    account_id: PD1234
                    total: 2
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '422':
          $ref: ../common/models/UnprocessableEntity.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
      operationId: getBusinessServiceSubscribers
      description: |-
        Retrieve a list of Notification Subscribers on the Business Service.

        <!-- theme: warning -->
        > Users must be added through `POST /business_services/{id}/subscribers` to be returned from this endpoint.
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/id
    post:
      summary: Create Business Service Subscribers
      tags:
        - Business Services
      operationId: createBusinessServiceNotificationSubscribers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: ./models/NotificationSubscriptionWithContext.yaml
              examples:
                response:
                  summary: Response Example
                  value:
                    subscriptions:
                      - account_id: PD1234
                        subscribable_id: PD1234
                        subscribable_type: business_service
                        subscriber_id: PD1234
                        subscriber_type: user
                        result: success
                      - account_id: PD1234
                        subscribable_id: PD1234
                        subscribable_type: business_service
                        subscriber_id: PD1234
                        subscriber_type: team
                        result: duplicate
                      - account_id: PD1234
                        subscribable_id: PD1235
                        subscribable_type: business_service
                        subscriber_id: PD1234
                        subscriber_type: team
                        result: unauthorized
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '422':
          $ref: ../common/models/UnprocessableEntity.yaml
      description: Subscribe the given entities to the given Business Service.
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subscribers:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    $ref: ./models/NotificationSubscriber.yaml
              required:
                - subscribers
            examples:
              request:
                summary: Request Example
                value:
                  subscribers:
                    - subscriber_id: PD1234
                      subscriber_type: team
                    - subscriber_id: PD1235
                      subscriber_type: team
                    - subscriber_id: PD1234
                      subscriber_type: user
        description: The entities to subscribe.
  '/business_services/{id}/supporting_services/impacts':
    x-pd-owner: IR Services
    get:
      summary: 'List the supporting Business Services for the given Business Service Id, sorted by impacted status.'
      tags:
        - Business Services
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: ../common/models/LiveListResponse.yaml
                  - type: object
                    properties:
                      services:
                        type: array
                        items:
                          $ref: models/Impact.yaml
                  - type: object
                    properties:
                      additional_fields:
                        type: object
                        properties:
                          total_impacted_count:
                            type: integer
              examples:
                response:
                  summary: Response Example
                  value:
                    limit: 100
                    more: false
                    services:
                      - id: PD1234
                        name: Web API
                        type: business_service
                        status: impacted
                        additional_fields:
                          highest_impacting_priority:
                            id: PQOMK4S
                            order: 128
                      - id: PF9KMXH
                        name: Analytics Backend
                        type: business_service
                        status: not_impacted
                        additional_fields:
                          highest_impacting_priority: null
                    additional_fields:
                      total_impacted_count: 1
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '422':
          $ref: ../common/models/UnprocessableEntity.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
      operationId: getBusinessServiceSupportingServiceImpacts
      description: |-
        Retrieve of Business Services that support the given Business Service sorted by highest Impact with `status` included.
        This endpoint does not return an exhaustive list of Business Services but rather provides access to the most impacted up to the limit of 200.

        The returned Business Services are sorted first by Impact, secondarily by most recently impacted, and finally by name.

        To get impact information about a specific set of Business Services, use the `ids[]` parameter on the `/business_services/impacts` endpoint.

        <!-- theme: warning -->
        > ### Early Access
        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/id
        - $ref: ../common/models/Parameters.yaml#/early_access_bis
        - $ref: ../common/models/Parameters.yaml#/impacts_additional_fields
        - $ref: ../common/models/Parameters.yaml#/ids
  '/business_services/{id}/unsubscribe':
    x-pd-owner: IR Services
    post:
      summary: Remove Business Service Subscribers
      tags:
        - Business Services
      operationId: removeBusinessServiceNotificationSubscriber
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted_count:
                    type: number
                  unauthorized_count:
                    type: number
                  non_existent_count:
                    type: number
                required:
                  - deleted_count
                  - unauthorized_count
                  - non_existent_count
              examples:
                response:
                  summary: Response Example
                  value:
                    deleted_count: 1
                    unauthorized_count: 1
                    non_existent_count: 0
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '404':
          $ref: ../common/models/NotFound.yaml
        '422':
          $ref: ../common/models/UnprocessableEntity.yaml
      description: Unsubscribes the matching Subscribers from a Business Service.
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subscribers:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    $ref: ./models/NotificationSubscriber.yaml
              required:
                - subscribers
            examples:
              request:
                summary: Request Example
                value:
                  subscribers:
                    - subscriber_id: PD1234
                      subscriber_type: team
                    - subscriber_id: PD1234
                      subscriber_type: user
        description: The entities to unsubscribe.
  /business_services/impactors:
    x-pd-owner: IR Services
    get:
      summary: List Impactors affecting Business Services
      tags:
        - Business Services
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: ../common/models/LiveListResponse.yaml
                  - type: object
                    properties:
                      impactors:
                        type: array
                        items:
                          $ref: models/Impactor.yaml
              examples:
                response:
                  summary: Response Example
                  value:
                    limit: 100
                    more: false
                    impactors:
                      - id: PD1234
                        type: incident
                      - id: PF9KMXH
                        type: incident
        '400':
          $ref: ../common/models/ArgumentError.yaml
        '401':
          $ref: ../common/models/Unauthorized.yaml
        '403':
          $ref: ../common/models/Forbidden.yaml
        '422':
          $ref: ../common/models/UnprocessableEntity.yaml
        '429':
          $ref: ../common/models/TooManyRequests.yaml
      operationId: getBusinessServiceTopLevelImpactors
      description: |-
        Retrieve a list of Impactors for the top-level Business Services on the account. Impactors are currently limited to Incidents.

        This endpoint does not return an exhaustive list of Impactors but rather provides access to the highest priority Impactors for the Business Services in question up to the limit of 200.

        To get Impactors for a specific set of Business Services, use the `ids[]` parameter.

        The returned Impactors are sorted first by priority and secondarily by their creation date.

        <!-- theme: warning -->
        > ### Early Access
        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.
      parameters:
        - $ref: ../common/models/Parameters.yaml#/header_Accept
        - $ref: ../common/models/Parameters.yaml#/early_access_bis
        - $ref: ../common/models/Parameters.yaml#/ids
  /business_services/impacts:
    x-pd-owner: IR Services
    get:
      summary: List Business Services sorted by impacted status
      tags:
        - Business Services
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: ../common/models/LiveListResponse.yaml
                  - type: object
                    properties:
                      services:
                        type: array
                        items:
                          $ref: models/Impact.yaml
                  - type: object
                    properties:
                      additional_fields:
                        type: object
                        properties:
                          total_impacted_count:
                            type: integer
              examples:
                response:
                  summary: Response Example
                  value:
[...]
