version: 2.1

jobs:
  publish:
    docker:
      - image: circleci/<language>:<version TAG>
    steps:
      - run:
          name: Publish to Stoplight
          command: |
            npm i -g @stoplight/cli
            stoplight publish \
            --token ${STOPLIGHT_TOKEN} \
            --project gh/pagerduty/api-schema \
            --url https://pagerduty.stoplight.io/api
workflows:
  version: 2
  build:
    jobs:
      - publish:
          filters:
            branches:
              only: master