version: 2.1

jobs:
  publish:
    docker:
      - image: cimg/node:16.13.2
    steps:
      - checkout
      - run:
          name: Publish to Stoplight
          command: |
            npm install @stoplight/cli@3.0.4
            node ./node_modules/@stoplight/cli/bin/stoplight.js publish \
            --token ${STOPLIGHT_TOKEN} \
            --project gh/pagerduty/api-schema \
            --url https://pagerduty.stoplight.io/api
workflows:
  version: 2
  build:
    jobs:
      - publish:
          filters:
            branches:
              only: main
