version: 2.1

jobs:
  publish:
    docker:
      - image: circleci/node:erbium
    steps:
      - run:
          name: Publish to Stoplight
          command: |
            npm install @stoplight/cli
            node ./node_modules/@stoplight/cli/bin/stoplight.js publish \
            --token ${STOPLIGHT_TOKEN} \
            --project gh/pagerduty/api-schema \
            --url https://pagerduty.stoplight.io/api
workflows:
  version: 2
  build:
    jobs:
      - publish
