{
  "openapi": "3.0.2",
  "info": {
    "description": "This document describes the PagerDuty REST APIs.\n\nFor guides and examples please visit our [Documentation.](https://developer.pagerduty.com/docs/get-started/getting-started/)\n\nOur REST APIs are defined in OpenAPI v3.x. You can view the schema at [github.com/PagerDuty/api-schema](https://github.com/PagerDuty/api-schema).\n",
    "contact": {
      "name": "PagerDuty Support",
      "url": "http://www.pagerduty.com/support",
      "email": "support@pagerduty.com"
    },
    "title": "PagerDuty API",
    "version": "2.0.0"
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "name": "Abilities",
      "description": "This describes your account's abilities by feature name. For example `\"teams\"`.\nAn ability may be available to your account based on things like your pricing plan or account state.\n"
    },
    {
      "name": "Add-ons",
      "description": "Developers can write their own functionality to insert into PagerDuty's UI.\n"
    },
    {
      "name": "Analytics",
      "description": "Provides enriched incident data.\n"
    },
    {
      "name": "Audit",
      "description": "Provides audit record data.\n"
    },
    {
      "name": "Business Services",
      "description": "Business services model capabilities that span multiple technical services and that may be owned by several different teams.\n"
    },
    {
      "name": "Escalation Policies",
      "description": "Escalation policies define which user should be alerted at which time.\n"
    },
    {
      "name": "Extension Schemas",
      "description": "A PagerDuty extension vendor represents a specific type of outbound extension such as Generic Webhook, Slack, ServiceNow.\n"
    },
    {
      "name": "Extensions",
      "description": "Extensions are representations of Extension Schema objects that are attached to Services.\n"
    },
    {
      "name": "Incidents",
      "description": "An incident represents a problem or an issue that needs to be addressed and resolved. Incidents trigger on a service, which prompts notifications to go out to on-call responders per the service's escalation policy.\n"
    },
    {
      "name": "Log Entries",
      "description": "A log of all the events that happen to an Incident, and these are exposed as Log Entries.\n"
    },
    {
      "name": "Maintenance Windows",
      "description": "A Maintenance Window is used to temporarily disable one or more Services for a set period of time.\n"
    },
    {
      "name": "Notifications",
      "description": "A Notification is created when an Incident is triggered or escalated.\n"
    },
    {
      "name": "On-Calls",
      "description": "An on-call represents a contiguous unit of time for which a User will be on call for a given Escalation Policy and Escalation Rules\n"
    },
    {
      "name": "Priorities",
      "description": "A priority is a label representing the importance and impact of an incident. This feature is only available on Standard and Enterprise plans.\n"
    },
    {
      "name": "Response Plays",
      "description": "Response Plays are a package of Incident Actions that can be applied during an Incident's life cycle.\n"
    },
    {
      "name": "Rulesets",
      "description": "Rulesets allow you to route events to an endpoint and create collections of event rules, which define sets of actions to take based on event content.\n"
    },
    {
      "name": "Schedules",
      "description": "A Schedule determines the time periods that users are On-Call.\n"
    },
    {
      "name": "Service Dependencies",
      "description": "Services are categorized into technical and business services. Dependencies can be created via any combination of these services.\n"
    },
    {
      "name": "Services",
      "description": "A Service may represent an application, component, or team you wish to open incidents against.\n"
    },
    {
      "name": "Tags",
      "description": "A Tag is applied to EScalation Policies, Teams or Users and can be used to filter them.\n"
    },
    {
      "name": "Teams",
      "description": "A team is a collection of Users and Escalation Policies that represent a group of people within an organization.\n"
    },
    {
      "name": "Users",
      "description": "Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.\n"
    },
    {
      "name": "Vendors",
      "description": "A PagerDuty Vendor represents a specific type of integration. AWS Cloudwatch, Splunk, Datadog are all examples of vendors\n"
    }
  ],
  "servers": [
    {
      "url": "https://api.pagerduty.com",
      "description": "PagerDuty V2 API."
    }
  ],
  "components": {
    "parameters": {
      "id": {
        "name": "id",
        "description": "The ID of the resource.",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "entity_type": {
        "name": "entity_type",
        "in": "path",
        "description": "Type of entity related with the tag",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "users",
            "teams",
            "escalation_policies"
          ]
        }
      },
      "team_user_id": {
        "name": "user_id",
        "in": "path",
        "description": "The user ID on the team.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "team_escalation_policy_id": {
        "name": "escalation_policy_id",
        "in": "path",
        "description": "The escalation policy ID on the team.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "escalation_policy_escalation_rule_id": {
        "name": "escalation_rule_id",
        "in": "path",
        "description": "The escalation rule ID on the escalation policy.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "include_addon": {
        "name": "include[]",
        "in": "query",
        "description": "Array of additional Models to include in response.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "services"
            ]
          },
          "uniqueItems": true
        }
      },
      "include_escalation_policy": {
        "name": "include[]",
        "in": "query",
        "description": "Array of additional Models to include in response.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "services",
              "teams",
              "targets"
            ]
          },
          "uniqueItems": true
        }
      },
      "include_log_entry": {
        "name": "include[]",
        "in": "query",
        "description": "Array of additional Models to include in response.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "incidents",
              "services",
              "channels",
              "teams"
            ]
          },
          "uniqueItems": true
        }
      },
      "include_user": {
        "name": "include[]",
        "in": "query",
        "description": "Array of additional Models to include in response.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "contact_methods",
              "notification_rules",
              "teams"
            ]
          },
          "uniqueItems": true
        }
      },
      "include_maintenance_window": {
        "name": "include[]",
        "in": "query",
        "description": "Array of additional Models to include in response.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "teams",
              "services",
              "users"
            ]
          },
          "uniqueItems": true
        }
      },
      "include_teams": {
        "name": "include[]",
        "in": "query",
        "description": "Array of additional Models to include in response.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "privileges"
            ]
          },
          "uniqueItems": true
        }
      },
      "include_teams_members": {
        "name": "include[]",
        "in": "query",
        "description": "Array of additional Models to include in response.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "users"
            ]
          },
          "uniqueItems": true
        }
      },
      "sort_by_escalation_policy": {
        "name": "sort_by",
        "in": "query",
        "description": "Used to specify the field you wish to sort the results on.",
        "schema": {
          "type": "string",
          "enum": [
            "name",
            "name:asc",
            "name:desc"
          ],
          "default": "name"
        }
      },
      "sort_by_service": {
        "name": "sort_by",
        "in": "query",
        "description": "Used to specify the field you wish to sort the results on.",
        "schema": {
          "type": "string",
          "enum": [
            "name",
            "name:asc",
            "name:desc"
          ],
          "default": "name"
        }
      },
      "schedule_overflow": {
        "name": "overflow",
        "in": "query",
        "description": "Any on-call schedule entries that pass the date range bounds will be truncated at the bounds, unless the parameter `overflow=true` is passed. This parameter defaults to false.\nFor instance, if your schedule is a rotation that changes daily at midnight UTC, and your date range is from `2011-06-01T10:00:00Z` to `2011-06-01T14:00:00Z`:\n\n\n- If you don't pass the `overflow=true` parameter, you will get one schedule entry returned with a start of `2011-06-01T10:00:00Z` and end of `2011-06-01T14:00:00Z`.\n- If you do pass the `overflow=true` parameter, you will get one schedule entry returned with a start of `2011-06-01T00:00:00Z` and end of `2011-06-02T00:00:00Z`.\n",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "schedule_override_id": {
        "name": "override_id",
        "in": "path",
        "description": "The override ID on the schedule.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "team_ids": {
        "name": "team_ids[]",
        "in": "query",
        "description": "An array of team IDs. Only results related to these teams will be returned. Account must have the `teams` ability to use this parameter.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "uniqueItems": true
        }
      },
      "time_zone": {
        "name": "time_zone",
        "in": "query",
        "description": "Time zone in which dates in the result will be rendered.",
        "schema": {
          "type": "string",
          "format": "tzinfo",
          "default": "UTC"
        }
      },
      "services": {
        "name": "service_ids[]",
        "in": "query",
        "description": "An array of service IDs. Only results related to these services will be returned.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "integration_id": {
        "name": "integration_id",
        "in": "path",
        "description": "The integration ID on the service.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "log_entry_is_overview": {
        "name": "is_overview",
        "in": "query",
        "description": "If `true`, will return a subset of log entries that show only the most important changes to the incident.",
        "required": false,
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "since": {
        "name": "since",
        "in": "query",
        "description": "The start of the date range over which you want to search.",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "until": {
        "name": "until",
        "in": "query",
        "description": "The end of the date range over which you want to search.",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "date_range": {
        "name": "date_range",
        "in": "query",
        "description": "When set to all, the since and until parameters and defaults are ignored.",
        "schema": {
          "type": "string",
          "enum": [
            "all"
          ]
        }
      },
      "incident_key": {
        "name": "incident_key",
        "in": "query",
        "description": "Incident de-duplication key. Incidents with child alerts do not have an incident key; querying by incident key will return incidents whose alerts have alert_key matching the given incident key.",
        "schema": {
          "type": "string"
        }
      },
      "incident_services": {
        "name": "service_ids[]",
        "in": "query",
        "description": "Returns only the incidents associated with the passed service(s). This expects one or more service IDs.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "uniqueItems": true
        }
      },
      "incident_assigned_to_user": {
        "name": "user_ids[]",
        "in": "query",
        "description": "Returns only the incidents currently assigned to the passed user(s). This expects one or more user IDs. Note: When using the assigned_to_user filter, you will only receive incidents with statuses of triggered or acknowledged. This is because resolved incidents are not assigned to any user.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "uniqueItems": true
        }
      },
      "incident_urgencies": {
        "name": "urgencies[]",
        "in": "query",
        "description": "Array of the urgencies of the incidents to be returned. Defaults to all urgencies. Account must have the `urgencies` ability to do this.",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "high",
              "low"
            ]
          },
          "uniqueItems": true
        }
      },
      "from_header": {
        "name": "From",
        "in": "header",
        "description": "The email address of a valid user associated with the account making the request.",
        "required": true,
        "schema": {
          "type": "string",
          "format": "email"
        }
      },
      "optional_from_header": {
        "name": "From",
        "in": "header",
        "description": "The email address of a valid user associated with the account making the request. This is optional, and is only used for change tracking.",
        "required": false,
        "schema": {
          "type": "string",
          "format": "email"
        }
      },
      "user_contact_method_id": {
        "name": "contact_method_id",
        "in": "path",
        "description": "The contact method ID on the user.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "user_notification_rule_id": {
        "name": "notification_rule_id",
        "in": "path",
        "description": "The notification rule ID on the user.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "user_status_update_notification_rule_id": {
        "name": "status_update_notification_rule_id",
        "in": "path",
        "description": "The status update notification rule ID on the user.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "session_id": {
        "name": "session_id",
        "in": "path",
        "description": "The session ID for the user.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "type": {
        "name": "type",
        "in": "path",
        "description": "The session type for the user session ID.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "alert_key": {
        "name": "alert_key",
        "in": "query",
        "description": "Alert de-duplication key.",
        "schema": {
          "type": "string"
        }
      },
      "response_play_id": {
        "name": "response_play_id",
        "in": "path",
        "description": "The response play ID of the response play associated with the request.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "total": {
        "name": "total",
        "in": "query",
        "description": "By default the `total` field in pagination responses is set to `null` to provide the fastest possible response times. Set `total` to `true` for this field to be populated.\n\nSee our [Pagination Docs](https://developer.pagerduty.com/docs/rest-api-v2/pagination/) for more information.\n",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      }
    },
    "responses": {
      "ArgumentError": {
        "description": "Caller provided invalid arguments. Please review the response for error details. Retrying with the same arguments will *not* work.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/paths/~1users~1%7Bid%7D~1notification_subscriptions/post/responses/422/content/application~1json/schema"
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicts with the current state of the server.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/paths/~1users~1%7Bid%7D~1notification_subscriptions/post/responses/422/content/application~1json/schema"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Caller is not authorized to view the requested resource.\nWhile your authentication is valid, the authenticated user or token does not have permission to perform this action.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/paths/~1users~1%7Bid%7D~1notification_subscriptions/post/responses/422/content/application~1json/schema"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error the PagerDuty server experienced an error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/paths/~1users~1%7Bid%7D~1notification_subscriptions/post/responses/422/content/application~1json/schema"
            }
          }
        }
      },
      "NotAllowed": {
        "description": "The request was received and recognized by the server, but its HTTP method was rejected for the requested resource.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/paths/~1users~1%7Bid%7D~1notification_subscriptions/post/responses/422/content/application~1json/schema"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/paths/~1users~1%7Bid%7D~1notification_subscriptions/post/responses/422/content/application~1json/schema"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too many requests have been made, the rate limit has been reached.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/paths/~1users~1%7Bid%7D~1notification_subscriptions/post/responses/422/content/application~1json/schema"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Account does not have the abilities to perform the action. Please review the response for the required abilities.\nYou can also use the [Abilities API](#resource_Abilities) to determine what features are available to your account.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/paths/~1users~1%7Bid%7D~1notification_subscriptions/post/responses/422/content/application~1json/schema"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Caller did not supply credentials or did not provide the correct credentials.\nIf you are using an API key, it may be invalid or your Authorization header may be malformed.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/paths/~1users~1%7Bid%7D~1notification_subscriptions/post/responses/422/content/application~1json/schema"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "The API Key with format `Token token=<API_KEY>`"
      }
    },
    "examples": {
      "AuditRecordResponseExample": {
        "summary": "Response Example",
        "value": {
          "records": [
            {
              "id": "PDRECORDID1_TEAM_CREATED",
              "self": "https://api.pagerduty.com/<...>/records/PDRECORDID1_TEAM_CREATED",
              "execution_time": "2020-06-04T15:30:16Z",
              "execution_context": {
                "request_id": "111lDEOIH-534-4ljhLHJjh111",
                "remote_address": "201.19.20.19"
              },
              "actors": [
                {
                  "id": "PDUSER",
                  "summary": "John Snow",
                  "type": "user_reference"
                }
              ],
              "method": {
                "type": "api_token",
                "truncated_token": "3usr"
              },
              "resource": {
                "id": "PXASDFE",
                "type": "team_reference",
                "summary": "my DevOps team"
              },
              "action": "create",
              "details": {
                "resource": {
                  "id": "PXASDFE",
                  "type": "team_reference",
                  "summary": "my DevOps team"
                },
                "fields": [
                  {
                    "name": "teamName",
                    "value": "DevOps team"
                  }
                ]
              }
            },
            {
              "id": "PDRECORDID2_USER_REMOVED_FROM_TEAM",
              "self": "https://api.pagerduty.com/<...>/records/PDRECORDID2_USER_REMOVED_FROM_TEAM",
              "execution_time": "2020-06-04T15:30:16Z",
              "execution_context": {
                "request_id": "222lDEOIH-534-4ljhLHJjh222",
                "remote_address": "201.19.20.19"
              },
              "method": {
                "type": "api_token",
                "truncated_token": "2adm"
              },
              "resource": {
                "id": "PRY9M8B",
                "type": "team_reference",
                "summary": "DevOps"
              },
              "action": "update",
              "details": {
                "resource": {
                  "id": "PRY9M8B",
                  "type": "team_reference",
                  "summary": "DevOps"
                },
                "references": [
                  {
                    "name": "members",
                    "removed": [
                      {
                        "id": "PRY9M8B",
                        "type": "user_reference",
                        "summary": "John Doe"
                      }
                    ]
                  }
                ]
              }
            },
            {
              "id": "PDRECORDID5_USERS_TEAM_ROLE_UPDATED",
              "self": "https://api.pagerduty.com/<...>/records/PDRECORDID5_USERS_TEAM_ROLE_UPDATED",
              "execution_time": "2020-06-04T15:30:16Z",
              "execution_context": {
                "request_id": "222lDEOIH-534-4ljhLHJjh222",
                "remote_address": "201.19.20.19"
              },
              "method": {
                "type": "api_token",
                "truncated_token": "2adm"
              },
              "resource": {
                "id": "PRY9M8B",
                "type": "team_reference",
                "summary": "DevOps"
              },
              "action": "update",
              "details": {
                "resource": {
                  "id": "PDUSER",
                  "type": "user_reference",
                  "summary": "John Snow"
                },
                "fields": [
                  {
                    "name": "team_role",
                    "before_value": "observer",
                    "value": "manager"
                  }
                ]
              }
            },
            {
              "id": "PDRECORDID3_USERS_NAME_AND_EMAIL_UPDATED",
              "self": "https://api.pagerduty.com/<...>/records/PDRECORDID3_USERS_NAME_AND_EMAIL_UPDATED",
              "execution_time": "2020-06-04T15:30:16Z",
              "execution_context": {
                "request_id": "222lDEOIH-534-4ljhLHJjh222",
                "remote_address": "201.19.20.19"
              },
              "actors": [
                {
                  "id": "PDUSER",
                  "summary": "John Snow",
                  "type": "user_reference"
                }
              ],
              "method": {
                "type": "identity_provider"
              },
              "resource": {
                "id": "PDUSER",
                "type": "user_reference",
                "summary": "John Snow"
              },
              "action": "update",
              "details": {
                "resource": {
                  "id": "PDUSER",
                  "type": "user_reference",
                  "summary": "John Snow"
                },
                "fields": [
                  {
                    "name": "name",
                    "before_value": "Bob Doe",
                    "value": "Jon Snow"
                  },
                  {
                    "name": "email",
                    "before_value": "bob.doe@domain.com",
                    "value": "john.snow@domain.com"
                  }
                ]
              }
            },
            {
              "id": "PDRECORDID4_UPDATED_USERS_NOTIFICATION_RULE",
              "self": "https://api.pagerduty.com/<...>/records/PDRECORDID4_UPDATED_USERS_NOTIFICATION_RULE",
              "execution_time": "2020-06-04T15:30:16Z",
              "execution_context": {
                "request_id": "222lDEOIH-534-4ljhLHJjh222",
                "remote_address": "201.19.20.19"
              },
              "actors": [
                {
                  "id": "PDUSER",
                  "summary": "John Snow",
                  "type": "user_reference"
                }
              ],
              "method": {
                "type": "api_token",
                "truncated_token": "2adm"
              },
              "resource": {
                "id": "PDUSER",
                "type": "user_reference",
                "summary": "John Snow"
              },
              "action": "update",
              "details": {
                "resource": {
                  "id": "PXOGWUS",
                  "type": "assignment_notification_rule_reference",
                  "summary": "0 minutes: channel P1IAAPZ"
                },
                "fields": [
                  {
                    "name": "start_delay_in_minutes",
                    "before_value": 0,
                    "value": 2
                  }
                ],
                "references": [
                  {
                    "name": "contact_method",
                    "removed": [
                      {
                        "id": "POE6L88",
                        "type": "push_notification_contact_method_reference",
                        "summary": "Pixel 3"
                      }
                    ],
                    "added": [
                      {
                        "id": "P4GTUMK",
                        "type": "sms_contact_method_reference",
                        "summary": "Mobile"
                      }
                    ]
                  }
                ]
              }
            }
          ],
          "response_metadata": {
            "messages": [
              "Message about the result"
            ]
          },
          "pagination_token": "dXNlcjpVMEc5V0ZYTlo=",
          "more": true,
          "limit": 1
        }
      }
    },
    "schemas": {
      "AddonReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "full_page_addon_reference",
                  "incident_show_addon_reference"
                ]
              }
            }
          }
        ]
      },
      "Addon": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of Add-on.",
                "enum": [
                  "full_page_addon",
                  "incident_show_addon"
                ]
              },
              "name": {
                "type": "string",
                "description": "The name of the Add-on.",
                "maxLength": 100
              },
              "src": {
                "type": "string",
                "format": "url",
                "description": "The source URL to display in a frame in the PagerDuty UI. HTTPS is required."
              }
            },
            "required": [
              "type",
              "name",
              "src"
            ],
            "example": {
              "type": "full_page_addon",
              "name": "Internal Status Page",
              "src": "https://intranet.example.com/status"
            }
          }
        ]
      },
      "BusinessService": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the business service."
              },
              "description": {
                "type": "string",
                "description": "The user-provided description of the business service."
              },
              "point_of_contact": {
                "type": "string",
                "description": "The point of contact assigned to this service."
              },
              "team": {
                "type": "object",
                "title": "Team",
                "description": "Reference to the team that owns the business service.",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "description": "A string that determines the schema of the object.",
                    "readOnly": true
                  },
                  "self": {
                    "type": "string",
                    "format": "url",
                    "description": "The API show URL at which the object is accessible.",
                    "readOnly": true
                  }
                },
                "required": [
                  "id"
                ]
              }
            },
            "example": {
              "id": "P3X2XX3",
              "type": "business_service",
              "name": "Self-serve mobile checkout",
              "description": "Checkout service for our mobile clients",
              "point_of_contact": "PagerDuty Admin",
              "team": {
                "type": "team_reference",
                "self": "https://api.pagerduty.com/teams/P3ZQXDF",
                "id": "P3ZQXDF"
              }
            }
          }
        ]
      },
      "BusinessServiceReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "business_service_reference"
                ]
              }
            }
          }
        ]
      },
      "Tag": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "readOnly": true
              },
              "summary": {
                "type": "string",
                "nullable": true,
                "readOnly": true,
                "description": "A short-form, server-generated string that provides succinct, important information about an object suitable for primary labeling of an entity in a client. In many cases, this will be identical to `name`, though it is not intended to be an identifier."
              },
              "type": {
                "type": "string",
                "readOnly": true,
                "description": "A string that determines the schema of the object. This must be the standard name for the entity, suffixed by `_reference` if the object is a reference."
              },
              "self": {
                "type": "string",
                "nullable": true,
                "readOnly": true,
                "format": "url",
                "description": "the API show URL at which the object is accessible"
              },
              "html_url": {
                "type": "string",
                "nullable": true,
                "readOnly": true,
                "format": "url",
                "description": "a URL at which the entity is uniquely displayed in the Web app"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of object being created.",
                "default": "tag",
                "enum": [
                  "tag"
                ]
              },
              "label": {
                "type": "string",
                "description": "The label of the tag.",
                "maxLength": 191
              }
            },
            "required": [
              "label",
              "type"
            ],
            "example": {
              "type": "tag",
              "label": "Batman"
            }
          }
        ]
      },
      "TagReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "tag_reference"
                ]
              }
            }
          }
        ]
      },
      "EntityReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "user_reference",
                  "team_reference",
                  "escalation_policy_reference"
                ]
              }
            }
          }
        ]
      },
      "IncidentAddon": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Addon"
          },
          {
            "type": "object",
            "properties": {
              "services": {
                "type": "array",
                "description": "The services this Add-on is associated with.\nIf non-empty, the Add-on will appear only on incidents for those services.\nIf empty, it will appear on incidents for all services.\n",
                "items": {
                  "$ref": "#/components/schemas/ServiceReference"
                }
              }
            },
            "required": [
              "name",
              "src"
            ]
          }
        ],
        "example": {
          "type": "incident_show_addon",
          "name": "Service Runbook",
          "src": "https://intranet.example.com/runbook.html",
          "services": [
            {
              "id": "PIJ90N7",
              "type": "service",
              "summary": "My Application Service",
              "self": "https://api.pagerduty.com/services/PIJ90N7",
              "html_url": "https://subdomain.pagerduty.com/services/PIJ90N7"
            }
          ]
        }
      },
      "IncidentUrgencyType": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of incident urgency: whether it's constant, or it's dependent on the support hours.",
            "default": "constant",
            "enum": [
              "constant",
              "use_support_hours"
            ]
          },
          "urgency": {
            "type": "string",
            "description": "The incidents' urgency, if type is constant.",
            "default": "high",
            "enum": [
              "low",
              "high",
              "severity_based"
            ]
          }
        }
      },
      "IncidentUrgencyRule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/IncidentUrgencyType"
          },
          {
            "type": "object",
            "properties": {
              "during_support_hours": {
                "$ref": "#/components/schemas/IncidentUrgencyType"
              },
              "outside_support_hours": {
                "$ref": "#/components/schemas/IncidentUrgencyType"
              }
            }
          }
        ]
      },
      "SupportHours": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of support hours",
            "default": "fixed_time_per_day",
            "enum": [
              "fixed_time_per_day"
            ]
          },
          "time_zone": {
            "type": "string",
            "format": "activesupport-time-zone",
            "description": "The time zone for the support hours"
          },
          "days_of_week": {
            "type": "array",
            "readOnly": true,
            "items": {
              "type": "integer",
              "readOnly": true,
              "description": "The days of the week (1 through 7, for Monday through Sunday)"
            }
          },
          "start_time": {
            "type": "string",
            "format": "time",
            "description": "The support hours' starting time of day (date portion is ignored)"
          },
          "end_time": {
            "type": "string",
            "format": "time",
            "description": "The support hours' ending time of day (date portion is ignored)"
          }
        }
      },
      "Reference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "required": [
              "type",
              "id"
            ]
          }
        ]
      },
      "IncidentNote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "user": {
            "$ref": "#/components/schemas/UserReference"
          },
          "content": {
            "type": "string",
            "description": "The note content"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The time at which the note was submitted",
            "readOnly": true
          }
        },
        "example": {
          "content": "Firefighters are on the scene."
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "The type of notification.",
            "enum": [
              "sms_notification",
              "email_notification",
              "phone_notification",
              "push_notification"
            ]
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "The time at which the notification was sent",
            "readOnly": true
          },
          "address": {
            "type": "string",
            "description": "The address where the notification was sent. This will be null for notification type `push_notification`.",
            "readOnly": true
          },
          "user": {
            "$ref": "#/components/schemas/UserReference"
          }
        }
      },
      "Context": {
        "type": "object",
        "discriminator": {
          "propertyName": "type"
        },
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of context being attached to the incident.",
            "enum": [
              "link",
              "image"
            ]
          },
          "href": {
            "type": "string",
            "description": "The link's target url"
          },
          "src": {
            "type": "string",
            "description": "The image's source url"
          },
          "text": {
            "type": "string",
            "description": "The alternate display for an image"
          }
        },
        "required": [
          "type"
        ]
      },
      "Channel": {
        "type": "object",
        "description": "Polymorphic object representation of the means by which the action was channeled. Has different formats depending on type, indicated by channel[type]. Will be one of `auto`, `email`, `api`, `nagios`, or `timeout` if `agent[type]` is `service`. Will be one of `email`, `sms`, `website`, `web_trigger`, or `note` if `agent[type]` is `user`. See [below](https://developer.pagerduty.com/documentation/rest/log_entries/show#channel_types) for detailed information about channel formats.",
        "properties": {
          "type": {
            "type": "string",
            "description": "type"
          },
          "user": {
            "type": "object",
            "description": "user"
          },
          "team": {
            "type": "object",
            "description": "team"
          },
          "channel": {
            "type": "object",
            "description": "channel"
          }
        },
        "required": [
          "type"
        ]
      },
      "NotifyLogEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/LogEntry"
          },
          {
            "type": "object",
            "properties": {
              "created_at": {
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "description": "Time at which the log entry was created"
              },
              "user": {
                "$ref": "#/components/schemas/UserReference"
              },
              "type": {
                "type": "string",
                "enum": [
                  "notify_log_entry"
                ]
              }
            }
          }
        ]
      },
      "ScheduledAction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of schedule action. Must be set to urgency_change.",
            "enum": [
              "urgency_change"
            ]
          },
          "at": {
            "type": "object",
            "description": "Represents when scheduled action will occur.",
            "properties": {
              "type": {
                "type": "string",
                "description": "Must be set to named_time.",
                "enum": [
                  "named_time"
                ]
              },
              "name": {
                "type": "string",
                "description": "Designates either the start or the end of support hours.",
                "enum": [
                  "support_hours_start",
                  "support_hours_end"
                ]
              }
            },
            "required": [
              "type",
              "name"
            ]
          },
          "to_urgency": {
            "type": "string",
            "description": "Urgency level. Must be set to high.",
            "enum": [
              "high"
            ]
          }
        },
        "required": [
          "type",
          "at",
          "to_urgency"
        ]
      },
      "SnoozeLogEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/LogEntry"
          },
          {
            "type": "object",
            "properties": {
              "changed_actions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncidentAction"
                }
              },
              "type": {
                "type": "string",
                "enum": [
                  "snooze_log_entry"
                ]
              }
            }
          }
        ]
      },
      "IncidentAction": {
        "description": "An incident action is a pending change to an incident that will automatically happen at some future time.",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "unacknowledge",
              "escalate",
              "resolve",
              "urgency_change"
            ]
          },
          "at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "discriminator": {
          "propertyName": "type"
        },
        "required": [
          "type",
          "at"
        ]
      },
      "AssignLogEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/LogEntry"
          },
          {
            "type": "object",
            "properties": {
              "assigned_user": {
                "$ref": "#/components/schemas/UserReference"
              },
              "type": {
                "type": "string",
                "enum": [
                  "assign_log_entry"
                ]
              }
            }
          }
        ]
      },
      "EscalateLogEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/LogEntry"
          },
          {
            "type": "object",
            "properties": {
              "assigned_user": {
                "$ref": "#/components/schemas/UserReference"
              },
              "type": {
                "type": "string",
                "enum": [
                  "escalate_log_entry"
                ]
              }
            }
          }
        ]
      },
      "LogEntryReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "acknowledge_log_entry_reference",
                  "annotate_log_entry_reference",
                  "assign_log_entry_reference",
                  "escalate_log_entry_reference",
                  "exhaust_escalation_path_log_entry_reference",
                  "notify_log_entry_reference",
                  "reach_trigger_limit_log_entry_reference",
                  "repeat_escalation_path_log_entry_reference",
                  "resolve_log_entry_reference",
                  "snooze_log_entry_reference",
                  "trigger_log_entry_reference",
                  "unacknowledge_log_entry_reference"
                ]
              }
            }
          }
        ]
      },
      "LogEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "acknowledge_log_entry",
                  "annotate_log_entry",
                  "assign_log_entry",
                  "escalate_log_entry",
                  "exhaust_escalation_path_log_entry",
                  "notify_log_entry",
                  "reach_trigger_limit_log_entry",
                  "repeat_escalation_path_log_entry",
                  "resolve_log_entry",
                  "snooze_log_entry",
                  "trigger_log_entry",
                  "unacknowledge_log_entry"
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "description": "Time at which the log entry was created."
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              },
              "agent": {
                "$ref": "#/components/schemas/AgentReference"
              },
              "note": {
                "type": "string",
                "readOnly": true,
                "description": "Optional field containing a note, if one was included with the log entry."
              },
              "contexts": {
                "type": "array",
                "readOnly": true,
                "description": "Contexts to be included with the trigger such as links to graphs or images.",
                "items": {
                  "$ref": "#/components/schemas/Context"
                }
              },
              "service": {
                "$ref": "#/components/schemas/ServiceReference"
              },
              "incident": {
                "$ref": "#/components/schemas/IncidentReference"
              },
              "teams": {
                "type": "array",
                "readOnly": true,
                "description": "Will consist of references unless included",
                "items": {
                  "$ref": "#/components/schemas/TeamReference"
                }
              },
              "event_details": {
                "type": "object",
                "readOnly": true,
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "Additional details about the event."
                  }
                }
              }
            }
          }
        ]
      },
      "AgentReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "description": "The agent (user, service or integration) that created or modified the Incident Log Entry.",
            "properties": {
              "type": {
                "enum": [
                  "user_reference",
                  "service_reference",
                  "integration_reference"
                ],
                "type": "string"
              }
            },
            "readOnly": true
          }
        ]
      },
      "NotificationRuleReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "assignment_notification_rule_reference"
                ]
              }
            }
          }
        ]
      },
      "NotificationRule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "description": "A rule for contacting the user.",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of object being created.",
                "default": "assignment_notification_rule",
                "enum": [
                  "assignment_notification_rule"
                ]
              },
              "start_delay_in_minutes": {
                "type": "integer",
                "description": "The delay before firing the rule, in minutes.",
                "minimum": 0
              },
              "contact_method": {
                "$ref": "#/components/schemas/ContactMethodReference"
              },
              "urgency": {
                "type": "string",
                "enum": [
                  "high",
                  "low"
                ],
                "description": "Which incident urgency this rule is used for. Account must have the `urgencies` ability to have a low urgency notification rule."
              }
            },
            "required": [
              "start_delay_in_minutes",
              "urgency",
              "contact_method",
              "type"
            ],
            "example": {
              "type": "assignment_notification_rule",
              "start_delay_in_minutes": 0,
              "contact_method": {
                "id": "PXPGF42",
                "type": "email_contact_method_reference"
              },
              "urgency": "high"
            }
          }
        ]
      },
      "ContactMethodReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "email_contact_method_reference",
                  "phone_contact_method_reference",
                  "push_notification_contact_method_reference",
                  "sms_contact_method_reference"
                ]
              }
            }
          }
        ]
      },
      "ContactMethod": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "description": "The method to contact a user.",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of contact method being created.",
                "enum": [
                  "email_contact_method",
                  "phone_contact_method",
                  "push_notification_contact_method",
                  "sms_contact_method"
                ]
              },
              "label": {
                "type": "string",
                "description": "The label (e.g., \"Work\", \"Mobile\", etc.)."
              },
              "address": {
                "type": "string",
                "description": "The \"address\" to deliver to: email, phone number, etc., depending on the type."
              }
            },
            "discriminator": {
              "propertyName": "type"
            },
            "required": [
              "type",
              "label",
              "address"
            ]
          }
        ]
      },
      "EmailContactMethod": {
        "description": "The Email Contact Method of the User.",
        "allOf": [
          {
            "$ref": "#/components/schemas/ContactMethod"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "email_contact_method"
                ]
              },
              "send_short_email": {
                "type": "boolean",
                "description": "Send an abbreviated email message instead of the standard email output. Useful for email-to-SMS gateways and email based pagers.",
                "default": false
              }
            },
            "example": {
              "type": "email_contact_method",
              "label": "work",
              "address": "grady.haylie.126@hickle.net",
              "send_short_email": false
            }
          }
        ]
      },
      "PhoneContactMethod": {
        "description": "The Phone Contact Method of the User, used for Voice or SMS.",
        "allOf": [
          {
            "$ref": "#/components/schemas/ContactMethod"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "phone_contact_method",
                  "sms_contact_method"
                ]
              },
              "country_code": {
                "type": "integer",
                "description": "The 1-to-3 digit country calling code.",
                "minimum": 1,
                "maximum": 1999
              },
              "enabled": {
                "type": "boolean",
                "description": "If true, this phone is capable of receiving SMS messages.",
                "readOnly": true
              },
              "blacklisted": {
                "type": "boolean",
                "description": "If true, this phone has been blacklisted by PagerDuty and no messages will be sent to it.",
                "readOnly": true
              }
            },
            "required": [
              "country_code"
            ],
            "example": {
              "type": "phone_contact_method",
              "label": "work",
              "country_code": 123,
              "address": "1234567"
            }
          }
        ]
      },
      "PushContactMethodSound": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of sound.",
            "enum": [
              "alert_high_urgency",
              "alert_low_urgency"
            ]
          },
          "file": {
            "type": "string",
            "description": "The sound file name."
          }
        }
      },
      "PushContactMethod": {
        "description": "The Push Contact Method of the User.",
        "allOf": [
          {
            "$ref": "#/components/schemas/ContactMethod"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "push_notification_contact_method"
                ]
              },
              "device_type": {
                "type": "string",
                "description": "The type of device.",
                "enum": [
                  "android",
                  "ios"
                ],
                "readOnly": true
              },
              "sounds": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PushContactMethodSound"
                }
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Time at which the contact method was created."
              },
              "blacklisted": {
                "type": "boolean",
                "description": "If true, this phone has been blacklisted by PagerDuty and no messages will be sent to it.",
                "readOnly": true
              }
            },
            "required": [
              "device_type"
            ],
            "example": {
              "type": "push_notification_contact_method",
              "label": "work",
              "device_type": "android",
              "address": "12341234"
            }
          }
        ]
      },
      "UserRole": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the user for a set of resources.",
            "enum": [
              "observer",
              "responder",
              "manager"
            ],
            "example": "observer"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          }
        },
        "example": {
          "role": "manager",
          "resources": [
            {
              "id": "PANZZEQ",
              "type": "escalation_policy",
              "summary": "Engineering Escalation Policy",
              "self": "https://api.pagerduty.com/escalation_policies/PANZZEQ",
              "html_url": "https://subdomain.pagerduty.com/escalation_policies/PANZZEQ"
            },
            {
              "id": "PI7DH85",
              "type": "schedule",
              "summary": "Daily Engineering Rotation",
              "self": "https://api.pagerduty.com/schedules/PI7DH85",
              "html_url": "https://subdomain.pagerduty.com/schedules/PI7DH85"
            }
          ]
        }
      },
      "UserReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "user_reference"
                ]
              }
            }
          }
        ]
      },
      "UserSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "user_id": {
            "type": "string",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "description": "The date/time the user session was first created."
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "The type of the session",
            "enum": [
              "browser",
              "oauth"
            ]
          },
          "summary": {
            "type": "string",
            "readOnly": true,
            "description": "The summary of the session"
          }
        },
        "required": [
          "id",
          "user_id",
          "created_at",
          "type",
          "summary"
        ],
        "example": {
          "id": "PXPGF42",
          "user_id": "PXPGF42",
          "created_at": "2018-10-06T21:30:42.000Z",
          "summary": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36",
          "type": "browser"
        }
      },
      "User": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the user.",
                "maxLength": 100
              },
              "type": {
                "type": "string",
                "description": "The type of object being created.",
                "default": "user",
                "enum": [
                  "user"
                ]
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "The user's email address.",
                "minLength": 6,
                "maxLength": 100
              },
              "time_zone": {
                "type": "string",
                "format": "tzinfo",
                "description": "The preferred time zone name. If null, the account's time zone will be used."
              },
              "color": {
                "type": "string",
                "description": "The schedule color."
              },
              "role": {
                "description": "The user role. Account must have the `read_only_users` ability to set a user as a `read_only_user` or a `read_only_limited_user`, and must have advanced permissions abilities to set a user as `observer` or `restricted_access`.",
                "type": "string",
                "enum": [
                  "admin",
                  "limited_user",
                  "observer",
                  "owner",
                  "read_only_user",
                  "restricted_access",
                  "read_only_limited_user",
                  "user"
                ]
              },
              "avatar_url": {
                "type": "string",
                "format": "url",
                "description": "The URL of the user's avatar.",
                "readOnly": true
              },
              "description": {
                "type": "string",
                "description": "The user's bio."
              },
              "invitation_sent": {
                "type": "boolean",
                "readOnly": true,
                "description": "If true, the user has an outstanding invitation."
              },
              "job_title": {
                "type": "string",
                "description": "The user's title.",
                "maxLength": 100
              },
              "teams": {
                "type": "array",
                "readOnly": true,
                "description": "The list of teams to which the user belongs. Account must have the `teams` ability to set this.",
                "items": {
                  "$ref": "#/components/schemas/TeamReference"
                }
              },
              "contact_methods": {
                "type": "array",
                "readOnly": true,
                "description": "The list of contact methods for the user.",
                "items": {
                  "$ref": "#/components/schemas/ContactMethodReference"
                }
              },
              "notification_rules": {
                "readOnly": true,
                "type": "array",
                "description": "The list of notification rules for the user.",
                "items": {
                  "$ref": "#/components/schemas/NotificationRuleReference"
                }
              }
            },
            "required": [
              "name",
              "email",
              "type"
            ],
            "example": {
              "type": "user",
              "name": "Earline Greenholt",
              "email": "125.greenholt.earline@graham.name",
              "time_zone": "America/Lima",
              "color": "green",
              "role": "admin",
              "job_title": "Director of Engineering",
              "avatar_url": "https://secure.gravatar.com/avatar/1d1a39d4635208d5664082a6c654a73f.png?d=mm&r=PG",
              "description": "I'm the boss"
            }
          }
        ]
      },
      "TeamReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "team_reference"
                ]
              }
            }
          }
        ]
      },
      "Team": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of object being created.",
                "default": "team",
                "enum": [
                  "team"
                ]
              },
              "name": {
                "type": "string",
                "description": "The name of the team.",
                "maxLength": 100
              },
              "description": {
                "type": "string",
                "description": "The description of the team.",
                "maxLength": 1024
              },
              "parent": {
                "$ref": "#/components/schemas/TeamReference"
              }
            },
            "required": [
              "name",
              "type"
            ],
            "example": {
              "type": "team",
              "name": "Engineering",
              "description": "The engineering team"
            }
          }
        ]
      },
      "IncidentReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "incident_reference"
                ]
              }
            }
          }
        ]
      },
      "Incident": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "incident_number": {
                "type": "integer",
                "readOnly": true,
                "description": "The number of the incident. This is unique across your account."
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "description": "The date/time the incident was first triggered."
              },
              "status": {
                "type": "string",
                "description": "The current status of the incident.",
                "enum": [
                  "triggered",
                  "acknowledged",
                  "resolved"
                ]
              },
              "title": {
                "type": "string",
                "readOnly": false,
                "description": "A succinct description of the nature, symptoms, cause, or effect of the incident."
              },
              "pending_actions": {
                "type": "array",
                "readOnly": true,
                "description": "The list of pending_actions on the incident. A pending_action object contains a type of action which can be escalate, unacknowledge, resolve or urgency_change. A pending_action object contains at, the time at which the action will take place. An urgency_change pending_action will contain to, the urgency that the incident will change to.",
                "items": {
                  "$ref": "#/components/schemas/IncidentAction"
                }
              },
              "incident_key": {
                "type": "string",
                "readOnly": true,
                "description": "The incident's de-duplication key."
              },
              "service": {
                "$ref": "#/components/schemas/ServiceReference"
              },
              "assignments": {
                "type": "array",
                "description": "List of all assignments for this incident.",
                "items": {
                  "$ref": "#/components/schemas/Assignment"
                }
              },
              "assigned_via": {
                "type": "string",
                "description": "How the current incident assignments were decided.  Note that `direct_assignment` incidents will not escalate up the attached `escalation_policy`",
                "enum": [
                  "escalation_policy",
                  "direct_assignment"
                ],
                "readOnly": true
              },
              "acknowledgements": {
                "type": "array",
                "description": "List of all acknowledgements for this incident.",
                "items": {
                  "$ref": "#/components/schemas/Acknowledgement"
                }
              },
              "last_status_change_at": {
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "description": "The time at which the status of the incident last changed."
              },
              "last_status_change_by": {
                "$ref": "#/components/schemas/AgentReference"
              },
              "first_trigger_log_entry": {
                "$ref": "#/components/schemas/LogEntryReference"
              },
              "escalation_policy": {
                "$ref": "#/components/schemas/EscalationPolicyReference"
              },
              "teams": {
                "type": "array",
                "description": "The teams involved in the incident’s lifecycle.",
                "items": {
                  "$ref": "#/components/schemas/TeamReference"
                }
              },
              "priority": {
                "$ref": "#/components/schemas/PriorityReference"
              },
              "urgency": {
                "type": "string",
                "enum": [
                  "high",
                  "low"
                ],
                "description": "The current urgency of the incident."
              },
              "resolve_reason": {
                "$ref": "#/components/schemas/ResolveReason"
              },
              "alert_counts": {
                "$ref": "#/components/schemas/AlertCount"
              },
              "conference_bridge": {
                "$ref": "#/components/schemas/ConferenceBridge"
              },
              "body": {
                "$ref": "#/components/schemas/IncidentBody"
              }
            }
          }
        ]
      },
      "EscalationPolicyReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "escalation_policy_reference"
                ]
              }
            }
          }
        ]
      },
      "EscalationPolicy": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of object being created.",
                "default": "escalation_policy",
                "enum": [
                  "escalation_policy"
                ]
              },
              "name": {
                "type": "string",
                "description": "The name of the escalation policy."
              },
              "description": {
                "type": "string",
                "description": "Escalation policy description."
              },
              "num_loops": {
                "type": "integer",
                "description": "The number of times the escalation policy will repeat after reaching the end of its escalation.",
                "default": 0,
                "minimum": 0
              },
              "on_call_handoff_notifications": {
                "type": "string",
                "description": "Determines how on call handoff notifications will be sent for users on the escalation policy. Defaults to \"if_has_services\".",
                "enum": [
                  "if_has_services",
                  "always"
                ]
              },
              "escalation_rules": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EscalationRule"
                }
              },
              "services": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ServiceReference"
                },
                "minLength": 0
              },
              "teams": {
                "type": "array",
                "description": "Teams associated with the policy. Account must have the `teams` ability to use this parameter.",
                "items": {
                  "$ref": "#/components/schemas/TeamReference"
                },
                "minLength": 0
              }
            },
            "required": [
              "type",
              "name",
              "escalation_rules"
            ],
            "example": {
              "id": "PQIL2IX",
              "type": "escalation_policy",
              "name": "Engineering Escalation Policy",
              "escalation_rules": [
                {
                  "escalation_delay_in_minutes": 30,
                  "targets": [
                    {
                      "id": "PEYSGVF",
                      "type": "user_reference"
                    }
                  ]
                }
              ],
              "services": [
                {
                  "id": "PIJ90N7",
                  "type": "service_reference"
                }
              ],
              "num_loops": 2,
              "on_call_handoff_notifications": "if_has_services",
              "teams": [
                {
                  "id": "PQ9K7I8",
                  "type": "team_reference"
                }
              ],
              "description": "Here is the ep for the engineering team."
            }
          }
        ]
      },
      "EscalationRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "escalation_delay_in_minutes": {
            "type": "integer",
            "description": "The number of minutes before an unacknowledged incident escalates away from this rule."
          },
          "targets": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "description": "The targets an incident should be assigned to upon reaching this rule.",
            "items": {
              "$ref": "#/components/schemas/EscalationTargetReference"
            }
          }
        },
        "required": [
          "escalation_delay_in_minutes",
          "targets"
        ],
        "example": {
          "escalation_delay_in_minutes": 30,
          "targets": [
            {
              "id": "PAM4FGS",
              "type": "user_reference"
            },
            {
              "id": "PI7DH85",
              "type": "schedule_reference"
            }
          ]
        }
      },
      "EscalationTargetReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "description": "The escalation target is the entity that will be assigned an incident upon escalation.",
            "properties": {
              "type": {
                "enum": [
                  "user",
                  "schedule",
                  "user_reference",
                  "schedule_reference"
                ],
                "type": "string"
              }
            }
          }
        ]
      },
      "ExtensionReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "extension_reference"
                ]
              }
            }
          }
        ]
      },
      "Extension": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the extension."
              },
              "type": {
                "type": "string",
                "description": "The type of object being created.",
                "default": "extension",
                "enum": [
                  "extension"
                ]
              },
              "endpoint_url": {
                "type": "string",
                "format": "url",
                "description": "The url of the extension."
              },
              "extension_objects": {
                "type": "array",
                "description": "The objects for which the extension applies",
                "items": {
                  "$ref": "#/components/schemas/ServiceReference"
                }
              },
              "extension_schema": {
                "$ref": "#/components/schemas/ExtensionSchemaReference"
              },
              "temporarily_disabled": {
                "type": "boolean",
                "readOnly": true,
                "description": "Whether or not this extension is temporarily disabled; for example, a webhook extension that is repeatedly rejected by the server.",
                "default": false
              },
              "config": {
                "type": "object",
                "description": "The object that contains extension configuration values depending on the extension schema specification."
              }
            },
            "required": [
              "extension_objects",
              "extension_schema",
              "name"
            ],
            "example": {
              "id": "PJU23I3",
              "endpoint_url": "https://example.com/receive_a_pagerduty_webhook",
              "name": "My Webhook",
              "summary": "My Webhook",
              "type": "extension",
              "extension_schema": {
                "id": "PJFWPEP",
                "type": "extension_schema_reference"
              },
              "extension_objects": [
                {
                  "id": "PIJ90N7",
                  "type": "service_reference"
                }
              ],
              "config": {
                "anykey": "anyvalue"
              }
            }
          }
        ]
      },
      "ServiceReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "service_reference"
                ]
              }
            }
          }
        ]
      },
      "Service": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of object being created.",
                "default": "service",
                "enum": [
                  "service"
                ]
              },
              "name": {
                "type": "string",
                "description": "The name of the service."
              },
              "description": {
                "type": "string",
                "description": "The user-provided description of the service."
              },
              "auto_resolve_timeout": {
                "type": "integer",
                "description": "Time in seconds that an incident is automatically resolved if left open for that long. Value is `null` if the feature is disabled. Value must not be negative. Setting this field to `0`, `null` (or unset in POST request) will disable the feature.",
                "default": 14400
              },
              "acknowledgement_timeout": {
                "type": "integer",
                "description": "Time in seconds that an incident changes to the Triggered State after being Acknowledged. Value is `null` if the feature is disabled. Value must not be negative. Setting this field to `0`, `null` (or unset in POST request) will disable the feature.",
                "default": 1800
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "description": "The date/time when this service was created"
              },
              "status": {
                "type": "string",
                "description": "The current state of the Service. Valid statuses are:\n\n\n- `active`: The service is enabled and has no open incidents.\n- `warning`: The service is enabled and has one or more acknowledged incidents.\n- `critical`: The service is enabled and has one or more triggered incidents.\n- `maintenance`: The service is under maintenance, no new incidents will be triggered during maintenance mode.\n- `disabled`: The service is disabled and will not have any new triggered incidents.\n",
                "enum": [
                  "active",
                  "warning",
                  "critical",
                  "maintenance",
                  "disabled"
                ]
              },
              "last_incident_timestamp": {
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "description": "The date/time when the most recent incident was created for this service."
              },
              "escalation_policy": {
                "$ref": "#/components/schemas/EscalationPolicyReference"
              },
              "teams": {
                "type": "array",
                "readOnly": true,
                "description": "The set of teams associated with this service.",
                "items": {
                  "$ref": "#/components/schemas/TeamReference"
                }
              },
              "integrations": {
                "type": "array",
                "readOnly": true,
                "description": "An array containing Integration objects that belong to this service. If `integrations` is passed as an argument, these are full objects - otherwise, these are references.",
                "items": {
                  "$ref": "#/components/schemas/IntegrationReference"
                }
              },
              "incident_urgency_rule": {
                "$ref": "#/components/schemas/IncidentUrgencyRule"
              },
              "support_hours": {
                "$ref": "#/components/schemas/SupportHours"
              },
              "scheduled_actions": {
                "type": "array",
                "description": "An array containing scheduled actions for the service.",
                "items": {
                  "$ref": "#/components/schemas/ScheduledAction"
                }
              },
              "addons": {
                "type": "array",
                "description": "The array of Add-ons associated with this service.",
                "readOnly": true,
                "items": {
                  "$ref": "#/components/schemas/AddonReference"
                }
              },
              "alert_creation": {
                "type": "string",
                "description": "Whether a service creates only incidents, or both alerts and incidents. A service must create alerts in order to enable incident merging.\n* \"create_incidents\" - The service will create one incident and zero alerts for each incoming event.\n* \"create_alerts_and_incidents\" - The service will create one incident and one associated alert for each incoming event.\n",
                "enum": [
                  "create_incidents",
                  "create_alerts_and_incidents"
                ]
              },
              "alert_grouping": {
                "type": "string",
                "description": "Defines how alerts on this service will be automatically grouped into incidents. Note that the alert grouping features are available only on certain plans. There are three available options:\n* null - No alert grouping on the service. Each alert will create a separate incident;\n* \"time\" - All alerts within a specified duration will be grouped into the same incident. This duration is set in the `alert_grouping_timeout` setting (described below). Available on Standard, Enterprise, and Event Intelligence plans;\n* \"intelligent\" - Alerts will be intelligently grouped based on a machine learning model that looks at the alert summary, timing, and the history of grouped alerts. Available on Enterprise and Event Intelligence plans\n",
                "enum": [
                  "time",
                  "intelligent"
                ]
              },
              "alert_grouping_timeout": {
                "type": "integer",
                "description": "The duration in minutes within which to automatically group incoming alerts. This setting applies only when `alert_grouping` is set to `\"time\"`. To continue grouping alerts until the incident is resolved, set this value to `0`.\n"
              }
            },
            "required": [
              "type",
              "escalation_policy"
            ],
            "example": {
              "id": "PSI2I2O",
              "type": "service",
              "name": "My Web App",
              "description": "My cool web application that does things.",
              "auto_resolve_timeout": 14400,
              "acknowledgement_timeout": 600,
              "status": "active",
              "escalation_policy": {
                "id": "PWIP6CQ",
                "type": "escalation_policy_reference"
              },
              "incident_urgency_rule": {
                "type": "use_support_hours",
                "during_support_hours": {
                  "type": "constant",
                  "urgency": "high"
                },
                "outside_support_hours": {
                  "type": "constant",
                  "urgency": "low"
                }
              },
              "support_hours": {
                "type": "fixed_time_per_day",
                "time_zone": "America/Lima",
                "start_time": "09:00:00",
                "end_time": 61200,
                "days_of_week": [
                  1,
                  2,
                  3,
                  4,
                  5
                ]
              },
              "scheduled_actions": [
                {
                  "type": "urgency_change",
                  "at": {
                    "type": "named_time",
                    "name": "support_hours_start"
                  },
                  "to_urgency": "high"
                }
              ],
              "alert_creation": "create_alerts_and_incidents",
              "alert_grouping": "time",
              "alert_grouping_timeout": 2
            }
          }
        ]
      },
      "PriorityReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "priority_reference"
                ]
              }
            }
          }
        ]
      },
      "Priority": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The user-provided short name of the priority."
              },
              "description": {
                "type": "string",
                "description": "The user-provided description of the priority."
              }
            }
          }
        ]
      },
      "Integration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "aws_cloudwatch_inbound_integration",
                  "cloudkick_inbound_integration",
                  "event_transformer_api_inbound_integration",
                  "generic_email_inbound_integration",
                  "generic_events_api_inbound_integration",
                  "keynote_inbound_integration",
                  "nagios_inbound_integration",
                  "pingdom_inbound_integration",
                  "sql_monitor_inbound_integration",
                  "events_api_v2_inbound_integration"
                ]
              },
              "name": {
                "type": "string",
                "description": "The name of this integration."
              },
              "service": {
                "$ref": "#/components/schemas/ServiceReference"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "description": "The date/time when this integration was created."
              },
              "vendor": {
                "$ref": "#/components/schemas/VendorReference"
              }
            }
          }
        ]
      },
      "IntegrationReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "aws_cloudwatch_inbound_integration_reference",
                  "cloudkick_inbound_integration_reference",
                  "event_transformer_api_inbound_integration_reference",
                  "generic_email_inbound_integration_reference",
                  "generic_events_api_inbound_integration_reference",
                  "keynote_inbound_integration_reference",
                  "nagios_inbound_integration_reference",
                  "pingdom_inbound_integration_reference",
                  "sql_monitor_inbound_integration_reference"
                ]
              }
            }
          }
        ]
      },
      "MaintenanceWindowReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "maintenance_window_reference"
                ]
              }
            }
          }
        ]
      },
      "MaintenanceWindow": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of object being created.",
                "default": "maintenance_window",
                "enum": [
                  "maintenance_window"
                ]
              },
              "sequence_number": {
                "type": "integer",
                "readOnly": true,
                "description": "The order in which the maintenance window was created."
              },
              "start_time": {
                "type": "string",
                "format": "date-time",
                "description": "This maintenance window's start time. This is when the services will stop creating incidents. If this date is in the past, it will be updated to be the current time."
              },
              "end_time": {
                "type": "string",
                "format": "date-time",
                "description": "This maintenance window's end time. This is when the services will start creating incidents again. This date must be in the future and after the `start_time`."
              },
              "description": {
                "type": "string",
                "description": "A description for this maintenance window."
              },
              "created_by": {
                "$ref": "#/components/schemas/UserReference"
              },
              "services": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ServiceReference"
                }
              },
              "teams": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TeamReference"
                },
                "readOnly": true
              }
            },
            "required": [
              "start_time",
              "end_time",
              "services",
              "type"
            ],
            "example": {
              "id": "PIJ89JD",
              "type": "maintenance_window",
              "start_time": "2015-11-10T01:00:00.000Z",
              "end_time": "2015-11-10T03:00:00.000Z",
              "description": "Immanentizing the eschaton",
              "services": [
                {
                  "id": "PIJ90N7",
                  "type": "service_reference"
                }
              ]
            }
          }
        ]
      },
      "ScheduleReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "schedule_reference"
                ]
              }
            }
          }
        ]
      },
      "Schedule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Tag/allOf/0"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of object being created.",
                "default": "schedule",
                "enum": [
                  "schedule"
                ]
              },
              "schedule_layers": {
                "type": "array",
                "description": "A list of schedule layers.",
                "items": {
                  "$ref": "#/components/schemas/ScheduleLayer"
                }
              },
              "time_zone": {
                "type": "string",
                "format": "activesupport-time-zone",
[...]
